<template>
<div class="col-12">
  <loading v-if="isLoading"></loading>
  <canvas id="financial" ref="canvas" v-else-if="!isError"></canvas>
</div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: true,
      isError: false
    };
  },
  props: {
    projectId: Number,
  },
  created() {
    this.getCashflow();
  },

  methods: {
    getCashflow() {
      api.getCashflowForProject(this.projectId).then(response => {
        this.isLoading = false;
        this.$nextTick(() => this.renderChartForData(response))
      }).catch(err => {
        this.isLoading=false;
        this.isError=true;
      })
    },

    renderChartForData(response) {
      new Chart(this.$refs.canvas, {
        type: 'bar',
        data: this.getDataForResponse(response),
      });
    },

    getDataForResponse(response) {
      return {
        datasets: [
          {
            label: "Income",
            data: Object.values(response[0]),
            backgroundColor: "#599ab1",
            stacked: true
          },
          {
            label: "Expenses",
            data: Object.values(response[1]).map(val => val * -1),
            backgroundColor: "#484747",
            stacked: true
          }
        ],
        labels: [ "January", "February", "March", "April", "May", "June", "July",
                  "August", "September", "October", "November", "December" ]
      }
    },

  } // methods

};
</script>
