<template>
   <section class="container mt-5" v-if="projects.length > 0">
      <div class="row">
         <div class="col-12">
            <h2>Confirm Payment</h2>
         </div>
         <div class="col-12 mt-4">
            <div class="table-wrapper">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <td width="50%">Project Name</td>
                        <td width="150">Funds raised</td>
                        <td width="150">Your Commitment</td>
                        <td width="50">Action</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="project in projects" v-bind:key="project.id">
                        <td>
                           <small class="bold text-uppercase">{{project.farmerName}}</small>							
                           <p>{{title(project)}}</p>
                           <small><strong>Bankability Score
                           <img :src="`/img/icon_meter_level${bankabilityImage(project.bankabilityScore)}.png`" alt="" class="credit_tiny">
                           {{project.bankabilityScore | numFormat(0.0) }}/5 </strong>
                           <i class="icon ion-md-pin text-primary ml-4"></i> {{ project.municipality }}, {{project.province}}</small>
                        </td>
                        <td>
                           <p>
                              <strong class="text-success">{{ project.investment.investment_amount| currencyConversion | numFormat('$0,0')}}</strong> of <strong>{{project.cost | currencyConversion | numFormat('$0,0')}}</strong> Total
                              
                           </p>
                           <div class="progress checkout-progress">
                              <div class="progress-bar checkout-progress-success" v-bind:style="{width: investmentPercentage(project) + '%'}"></div>
                              <div class="progress-bar checkout-progress-warning" role="progressbar" v-bind:style="{width: userInvestmentPercentage(project) + '%'}"/>
                           </div>
                        </td>
                        <td>
                           <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text checkout-progress-warning" id="inputGroup-sizing-sm">$</span>
                              </div>
                              <input type="number" v-model.number="commitment[project.id]" @keyup="verify(project)" class="form-control" id="checkout-input" @click="verify(project)"  step="1">
                           </div>
                        </td>
                        <td><button class="btn btn-link btn-sm text-danger" v-on:click="removeProject(project.id)"><i class="icon ion-md-trash"></i> Remove</button></td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr>
                        <td colspan="2">
                           <p class="lead float-right">Your total </p>
                        </td>
                        <td colspan="2">
                           <h4>{{total | numFormat("$0,0")}}</h4>
                        </td>
                     </tr>
                  </tfoot>
               </table>
            </div>
            <hr/>
         </div>
         <div class="col-md-4 " >
            <div :class="{'custom-control custom-radio custom-commit ': true, 'checked': payment === 'paypal'}">
               <input id="paypal" type="radio" v-model="payment" value="paypal" class=" custom-control-input m-0" rel="paypal" name="paypal">
               <label class="custom-control-label" for="paypal">
                  <p class="m-0 ml-4">Proceed with <img src="/img/paypal.png" height="20" alt="Paypal"></p>
               </label>
            </div>
         </div>
         <div class="col-md-4 d-flex align-items-center">
            <!-- <button class="btn btn-link btn-sm text-muted"><i class="icon ion-md-trash"></i> Cancel Investment</button> -->
         </div>
         <div class="col-md-4 ">
            <!-- <div :class="{'custom-control custom-radio custom-commit ': true, 'checked': payment === 'commitment'}">
               <input id="commit"  v-model="payment" value="commitment" type="radio" class="custom-control-input" rel="commitment" name="commitment">
               <label class="custom-control-label" for="commit"><p class="m-0 ml-4">Proceed with Commitment</p></label>
               </div> -->
         </div>
         <div id="pay_commitment" :class="{ 'col-md-8 offset-md-4 mt-4 collapse pay-options': true, 'show' : payment === 'commitment' }">
            <div class="card">
               <div class="card-body">
                  <h4>You're going to make a commitment.</h4>
                  <p>Buy checking the "Proceed to Commitment" box about and clicking the make commitment button below, you acknowledge that you've made a commitment to spend in this project.</p>
                  <p>We will contact you on ways to complete your investment. This usyally takes less than 24 hours.</p>
                  <button class="btn btn-warning btn-lg">Confirm my {{total| numFormat("$0,0")}} commitment</button>
               </div>
            </div>
         </div>
         <div id="pay_paypal" :class="{ 'col-md-8  mt-4 collapse pay-options': true, 'show' : payment === 'paypal' }">
            <div class="card">
               <div class="card-body">
                  <h4>You're going to pay with <img src="/img/paypal.png" height="30" alt="Paypal"></h4>
                  <p>Proceed to payment by clicking the Paypal button below.</p>
                  <img src="/img/paypalImage.png" alt="Paypal" @click="imgClick()">
                  <form method="post" action="/investment/invest" ref="form">
                     <input name="_token" type="hidden" v-model="token">
                     <input name="project_id[]" type="hidden" v-for="project in project_id" :value="project" v-bind:key="project.id"/> 
                     <input name="invest_amount[]" type="hidden" v-for="project in invest_amount" :value="project" v-bind:key="project.id"/>
                     <input name="invest_percent[]" type="hidden" v-for="project in invest_percent" :value="project" v-bind:key="project.id"/>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section v-else class="container mt-5">
      <div>
         <p>You have not selected any projects.<a  href="/project/list">Check</a> all open projects.</p>
      </div>
   </section>
</template>
<script type="text/javascript">
   import remainingAmountandPercent_mixin from "../../mixins/remaining_Amount_Percent";
   export default {
     data() {
       return {
         token: window._token,
         store: window.store,
         payment: "",
         project_id: [],
         invest_amount: [],
         invest_percent: [],
         usd_exchange_rate: usd_exchange_rate,
         commitment: []
       };
     },
     mounted() {
        this.$root.$on('checkout', () => {
            this.imgClick()
        })
    },
     created() {
       this.convertCommitment();
     },
     computed: {
       projects: function() {
         return this.store.projects;
       },
       total: function() {
         let total = 0;
         this.commitment.forEach(commit => {
           total += commit;
         });
         return total;
       }
     },
     methods: {
       convertCommitment() {
         this.store.projects.forEach(project => {
           this.commitment[project.id] = project.amount/this.usd_exchange_rate;
         });
         
       },
       remaining(project) {
         let user_commitment = this.commitment[project.id] * this.usd_exchange_rate;
         return (
           project.cost - project.investment.investment_amount - user_commitment
         );
       },
       bankabilityImage(bankabilityScore) {
         const num = Math.round(bankabilityScore);
         if (num == 0) return 1;
         return num;
       },
       removeProject(projectId) {
         this.commitment.splice(projectId,1,0);
         delete this.commitment[projectId];
         this.store.removeProject(projectId);
       },
       imgClick() {
         this.store.projects.forEach(project => {
           let amount = this.commitment[project.id] * this.usd_exchange_rate;
           let percentage = this.userInvestmentPercentage(project);
           this.project_id.push(project.id);
           this.invest_amount.push(amount);
           this.invest_percent.push(percentage);
         });
         this.$nextTick(() => {
           this.$refs.form.submit();
         });
       },
       title(project) {
         return `Help ${project.farmerName} install solar water pump in ${
           project.districtName
         } so that ${
           project.gender == "female" ? "she" : "he"
         }  can grow crops to support ${
           project.gender == "female" ? "her" : "his"
         }  family.`;
       },
       verify(project) {
         this.commitment.splice(project.id, 1, parseInt(this.commitment[project.id])); 
         let user_commitment = this.commitment[project.id];
         let requiredAmt = project.cost - project.investment.investment_amount;
         requiredAmt = requiredAmt / this.usd_exchange_rate;
         if (user_commitment > requiredAmt){
           this.commitment.splice(project.id, 1, requiredAmt); 
           user_commitment = requiredAmt          
         }
         else if (user_commitment <= 0) {
           this.commitment.splice(project.id, 1, 1);
           user_commitment = 1
         }
         this.store.updateAmount(project.id, user_commitment*this.usd_exchange_rate);         
       },
       investmentPercentage(project){
        if(project.investment.investment_percent === null)
          return 0;
        return project.investment.investment_percent;

       },
       userInvestmentPercentage(project){
         let percent = this.commitment[project.id]*this.usd_exchange_rate
         percent = percent/project.cost
         percent = percent*100
         return percent
       }
     },
     mixins: [remainingAmountandPercent_mixin]
   };
</script>