<template>
  <section class="main" id="investmentDetailPage">
    <investment-confirmation-modal :project="project" :investmentStore="investmentStore" :farmer="farmer" :bankabilityScore="bankabilityScore" :amount="investment_amount" :percentage="investmentPercentage()"/>
    <div class="container my-4">
      <div class="row d-flex">
        <div class="col-md-8 clearfix">
          <a href="#" class="text-uppercase text-muted bold">Agro-processing</a>
            <a v-if="isProjectOperational" :href="'/meterdata/'+ project.id"  class="btn btn-sm btn-info float-right">
              <i class="icon ion-md-speedometer"></i> View meter</a>
          <h2 class="mt-3">{{project.farmer_name}}</h2>

          <p class="lead text-muted"> {{title}} <a :href="'https://twitter.com/intent/tweet?text='+tweet_text" target="_blank" class="twitter-share-button"><i class="icon ion-logo-twitter text-muted"></i></a></p>
          <hr>
          <i class="icon ion-md-pin text-primary"></i> <strong>{{municipality}}, {{province}}</strong>
          <i class="icon ion-md-flash text-primary ml-3"></i> PEU <strong>{{project.solar_pv_size / 1000 | numFormat }} Kw</strong>
          <i class="icon ion-md-person text-primary ml-3"></i> Developed by <strong> Gham Power</strong>
          <hr>
          <div class="row">
            <div class="col-sm-4 col-6">
              <small class="text-uppercase bold text-muted">Diesel Displaced</small>
              <p class="h4 m-0"><img src="/img/icon_oil.png" alt="">
                {{env.dieselDisplaced | numFormat('0.0') }} Kl/yr
              </p>
            </div>
            <div class="col-sm-4 col-6">
              <small class="text-uppercase bold text-muted">CO<sub>2</sub> Curbed</small>
              <p class="h4 m-0"><img src="/img/icon_co2.png" alt="">
                {{env.co2Curbed | numFormat('0.0') }} Tons/yr
              </p>
            </div>
            <div class="col-sm-4 mt-4 mt-sm-0">
              <small class="text-uppercase bold text-muted">Bankability Score</small>
              <p class="h4 m-0"><img :src="`/img/icon_meter_level${bankabilityImage}.png`" alt="" title="" width="52px">
                {{bankabilityScore | numFormat(0.0) }}/5
                <a href="#" data-toggle="popover" data-trigger="hover" title="Bankability Score" data-placement="top" data-content="The score represents the overall bankability of the farmer by assessing over 60 data sets related to demographics, agriculture, finance and beyond. The score ranges from 1 - 5, 1 meaning the farmer is least bankable and potentially risky to defaulting; while 5 represents that the farmer is highly bankable, and unlikely to default the loan."><i class="icon ion-md-help-circle-outline"></i></a>
              </p>
            </div>
          </div>
          <img :src="getBannerImageForProject" alt="" class="img-fluid my-4">
          <div class="card">
            <div class="card-header">
              <span class="m-0 bold">Key Indicators</span>
            </div>
            <div class="card-body row">
              <div class="col-md-6 mb-3">
                <small class="text-uppercase text-muted bold">Farmer's Total Income</small>
                <h4><i class="icon ion-md-cash text-primary"></i> {{ validation(farmer.annual_household_income) | currencyConversion | numFormat("$0,0")}}/yr</h4>
              </div>
              <div class="col-md-6 mb-3" v-if="project.daily_discharge">
                <small class="text-uppercase text-muted bold">Water Requirement</small>
                <h4><i class="icon ion-md-water text-primary"></i> {{project.daily_discharge/1000}} kL/day</h4>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <small class="text-uppercase text-muted bold">Social Return</small>
                <h4><i class="icon ion-md-refresh text-primary"></i> $3.5/dollar funded</h4>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <small class="text-uppercase text-muted bold">Lives Impacted</small>
                <h4><i class="icon ion-md-people text-primary"></i> {{numberOfMembers}}</h4>
              </div>
            </div>
          </div>
          <!-- card -->
          <!--Todo::future cash flow text to be used later.(temporarily disabled) -->
          <!--<p class="my-4">Your fund will help fund a solar-powered water-pumping solution that discharges {{project.daily_discharge/1000}}kL of water per day for irrigation. Here’s the farmer’s cash flow projection based on increased crop yields:</p>-->
          <div class="card">
            <div class="card-header"><span class="m-0 bold">Demographic Information</span></div>
            <div class="card-body row justify-content-between">
              <div class="col-md-4 text-center">
                <img :src="getImg" class="rounded-circle mb-2" width="80">
                <p class="lead bold m-0">{{project.farmer_name}}</p>
                <p><i class="icon ion-md-calendar text-primary"></i>  {{age}}
                  <i class="icon ion-md-male text-primary ml-3"></i> {{gender}}
                </p>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-12">
                    <small class="text-uppercase text-muted bold">Address</small>
                    <p><i class="icon ion-md-pin text-primary"></i> {{farmer.address}}, {{municipality}}, {{province}}</p>
                    <hr class="my-2">
                  </div>
                  <div class="col-6 col-sm-4">
                    <small class="text-uppercase text-muted bold">Family members</small>
                    <p class="h5"><i class="icon ion-md-person text-primary"></i> {{numberOfMembers}}</p>
                  </div>
                  <div class="col-6 col-sm-4">
                    <small class="text-uppercase text-muted bold">Dependents</small>
                    <p class="h5"><i class="icon ion-md-people text-primary"></i> {{validation(farmer.no_of_dependents)}}</p>
                  </div>
                  <div class="col-sm-4" v-if="false">
                    <small class="text-uppercase text-muted bold">Education</small>
                    <p class="h5"><i class="icon ion-md-school text-primary"></i> {{education}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card -->
          <div class="card mt-4">
            <div class="card-header"><span class="m-0 bold">Financial Information</span>
            </div>
            <div class="card-body row justify-content-around">
              <!--Todo::future cash flow to be used later.(temporarily disabled) -->
              <!--<cashflow :project-id="project.id"></cashflow>-->
              <div class="col-lg-5 mb-4 mb-lg-0">
                <doughnut-chart class-name="col_canvas mt-3" id="chart_income" :data='data.farmer_finance' :labelFormatter='currencyConverter'></doughnut-chart>
              </div>
              <div class="col-lg-7 row">
                <div class="col-sm-6">
                  <small class="text-uppercase text-muted bold">income</small>
                  <p class="h5"><img src="/img/icon_income.png" alt="" class="stat_icon">{{validation(farmer.annual_household_income)| currencyConversion | numFormat("$0,0")}}/yr</p>
                  <hr>
                </div>
                <div class="col-sm-6">
                  <small class="text-uppercase text-muted bold">expenses</small>
                  <p class="h5"><img src="/img/icon_expense.png" alt="" class="stat_icon">{{validation(farmer.annual_expenses)| currencyConversion | numFormat("$0,0")}}/yr</p>
                  <hr>
                </div>
                <div class="col-sm-6">
                  <small class="text-uppercase text-muted bold">savings</small>
                  <p class="h5">
                    <img src="/img/icon_saving.png" alt="" class="stat_icon">
                    <span v-if="farmer.monthly_saving">
                      {{validation(farmer.monthly_saving_amount)| currencyConversion | numFormat("$0,0")}}/month
                    </span>
                    <span v-else>
                      0/month
                    </span>
                  </p>

                  <hr class="d-sm-none">
                </div>
                <div class="col-sm-6">
                  <small class="text-uppercase text-muted bold">debt</small>
                  <p class="h5"><img src="/img/icon_debt.png" alt="" class="stat_icon">
                    <span v-if="farmer.debt_service_obligation">
                      {{validation(farmer.debt_monthly_payment) | currencyConversion | numFormat("$0,0")}}/month
                    </span>
                    <span v-else>
                      0/month
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- card -->
          <div class="card mt-4 mb-4">
            <div class="card-header"><span class="m-0 bold">Agricultural Information</span>
            </div>
            <div class="card-body row">
              <div class="col-lg-6 mt-2">
                <img src="/img/icon_land.png" alt="" class="stat_icon">
                <small class="text-uppercase h5 bold">Land owned</small>
                <div class="col-sm-12" v-for="(land,key) in data.land_data">
                  <small class=" h6 d-inline pl-4">{{key}} : </small>
                  <p class="bold d-inline">{{land | numFormat('0.0')}} acre</p>
                </div>
              </div>
              <div class="col-lg-6 mt-2">
                <img src="/img/icon_crop.png" alt="" class="stat_icon">
                <small class="text-uppercase h5 bold">Crops Grown</small>
                <div class="col-sm-12" v-for="(crop,key) in data.crop_data" >
                  <small class="h6 d-inline pl-4">{{key}} : </small>
                  <p class="bold d-inline">{{crop | numFormat('0.0')}} acre</p>
                </div>
              </div>
              <hr>
              <div class="col-lg-6 mt-2">
                <img src="/img/icon_cattle.png" alt="" class="stat_icon">
                <small class="text-uppercase h5">Cattle owned</small>
                <div class="col-sm-12" v-for="(cattle,key) in data.cattle_data" >
                  <small class=" h6 d-inline pl-4">{{key}}:</small>
                  <p class="bold d-inline">{{cattle}}</p>
                </div>
              </div>
              <div class="col-lg-6 mt-2">
                <img src="/img/icon_pump.png" alt="" class="stat_icon">
                <small class="text-uppercase h5">Irrigation system</small>
                <div class="col-sm-12">
                  <small class="h6 d-inline pl-4">Irrigation system :</small>
                  <p class="bold d-inline">{{farm_irrigation.current_irrigation_system}}</p>
                </div>
                <div  class="col-sm-12">
                  <small class="h6 d-inline pl-4">Irrigation source : </small>
                  <p class="bold d-inline">{{farm_irrigation.current_irrigation_source}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- card -->
          <div class="card" v-if="investorsExist">
            <div class="card-header"><span class="m-0 bold">Contributor's Information</span>
            </div>
            <div class="card-body row">
              <div class="col-12">The following people have been extremely generous to support this project by contributing funding. We would like to thank everyone!</div>
              <div class="col-md-3 col-6 text-center" v-for ="investor in investor_list" v-bind:key="investor.name">
                <div v-if="!investor.anonymous">
                  <div v-if="getPartnerImage(investor)">
                    <img :src="getPartnerImage(investor)" class="supporter_init" width="80">
                  </div>
                  <div v-else>
                    <div class="supporter_init">{{getPartnerName(investor,initialsOnly = true)}}</div>
                  </div>
                  <p class="bold">{{getPartnerName(investor)}}</p>
                </div>
                <div v-else data-toggle="tooltip" data-placement="top" title="The individual has chosen not to display his/her information in this list.">
                  <img src="/img/farmer_default.png" class="supporter_init" width="80">
                  <p class="bold">Generous Supporter</p>
                </div>
              </div>
              <div class="col-12 excess_wrapper text-center">
                <hr>
                <a href="#" class="toggle_supporters">Show all contributors</a>
              </div>
            </div>
          </div>
          <!-- card -->
        </div>
        <div class="col-md-4">
          <div class="card investment-card" id="investmentbox">
            <div class="card-body mobile-trigger" v-if="!funded">
              <button class="btn btn-lg btn-warning btn-block" ><i class="icon ion-md-add-circle"></i>  Invest <span class="d-md-none d-xl-inline">in this project</span></button>
            </div>
            <div class="card-body mobile-body">
              <div class="mobile-close-trigger">
                <div class="intro">
                  <p class="lead text-muted"> {{title}} <a :href="'https://twitter.com/intent/tweet?text='+tweet_text" target="_blank" class="twitter-share-button"><i class="icon ion-logo-twitter text-muted"></i></a></p>
                  <hr>
                </div>
                <p class="m-0"><strong>This project is {{investment_percent}}% funded.</strong></p>
                <p class="text-muted small" v-if="!funded">You can fund full remaining amount or select your preferred amount below.</p>
                <div class="progress mt-3 mb-1">
                  <div class="progress-bar bg-success" role="progressbar" :style="{width: investment_percent+'%'}" :aria-valuenow="investment_percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-4 col-md-12 mobile-close-trigger col-4">
                  <small>Total</small>
                  <p class="h4 m-0" >{{project.cost | currencyConversion | numFormat('$0,0') }}</p>
                </div>
                <div class="col-lg-4 col-md-12 mobile-close-trigger col-4">
                  <small>Raised</small>
                  <p class="h4 m-0">{{investment.investment_amount| currencyConversion | numFormat('$0,0') }}</p>
                </div>
                <div class="col-lg-4 col-md-12 mobile-close-trigger col-4">
                  <small>Required</small>
                  <p class="h4 m-0">{{getRequiredAmount  | currencyConversion | numFormat("$0,0")}}</p>
                </div>
                <div class="col-12 mt-4" v-if="!funded">
                  <!-- <button class="btn btn-lg btn-warning btn-block" v-on:click="addToSelectedProjects" data-toggle="modal" data-target="#confirm"><i class="icon ion-md-add-circle"></i>  Fund <span class="d-md-none d-xl-inline"> this project</span></button> -->
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="number" v-model.number='investment_amount' @keyup="verify()" @click="verify()"  class="form-control form-control-lg" placeholder="Select amount">
                    <div class="input-group-append">
                      <button class="btn btn-lg btn-warning btn-block" v-on:click="addToSelectedProjects" data-toggle="modal" data-target="#confirm"><i class="icon ion-md-add-circle"></i> Fund</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-4" v-else>
                  <button class="btn btn-lg btn-success btn-block" disabled>Funding Completed</button>
                  <br />
                </div>
                <!-- <div class="col-12 text-center mt-2 mb-3" v-if="!funded"><small>or, <a data-toggle="collapse" href="#investoptions" role="button" aria-expanded="false" aria-controls="investoptions">select your preferred amount</a></small></div> -->
                <div class="col-12 text-center mt-2 mb-3" v-if="!funded"><small>You will have an option to change the amount</small></div>
                <div class="collapse col-12" id="investoptions">
                  <div class="row mb-3">
                    <div class="col-4"><button class="btn btn-sm btn-block btn-outline-primary" data-toggle="modal" data-target="#confirm" v-on:click="updateInvestmentPercent(10)">10%</button></div>
                    <div class="col-4" data-toggle="modal" data-target="#confirm"><button class="btn btn-sm btn-block btn-outline-primary" v-on:click="updateInvestmentPercent(20)">20%</button></div>
                    <div class="col-4" data-toggle="modal" data-target="#confirm"><button class="btn btn-sm btn-block btn-outline-primary" v-on:click="updateInvestmentPercent(30)">30%</button></div>
                  </div>
                  <hr>
                </div>
                <div class="col-lg-6 col-6 col-md-12"><button class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#share"><i class="icon ion-md-share"></i> Share</button></div>
                <div class="col-lg-6 col-6 col-md-12"><button class="btn btn-block btn-outline-secondary" data-toggle="modal" data-target="#contactDeveloperModal"><i class="icon ion-md-call"></i> Contact</button></div>
                <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactDeveloperModal">Contact Developer</button>-->
              </div>
            </div>
          </div>
        </div>
        <!-- contact-developer modal start-->
        <div id="contactDeveloperModal" class= "modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Send Message to developer</h4>
              </div>
              <div class="modal-body">
                <form action="#" id="contact">
                  <div class="form-group">
                    <label  class="col-form-label" id="message_text">Message:</label>
                    <textarea name="message_text" rows="15" cols="50" class="form-control" v-model="message_text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" @click="sendMessage" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- contact-developer modal ends-->
      </div>
    </div>
  </section>
</template>
<script type="text/javascript">
  import remainingAmountandPercent_mixin from "../../mixins/remaining_Amount_Percent";
  import projectBannerAndFarmerImage_mixin from "../../mixins/projectBanner-farmerImage";
  import bankabilityImage_Score from "../../mixins/bankabilityImage-Score";
  import titleText_gender from "../../mixins/titleText-gender";
  import projectHelper from "../../helpers/project";
  export default {
    data() {
      return {
        store: window.store,
        project: projectDetails.project,
        data: projectDetails.chart_data,
        investor_list: projectDetails.investor_list,
        investmentStore: projectDetails.investmentStore,
        usd_exchange_rate: usd_exchange_rate,
        farm_irrigation: projectDetails.farm_irrigation,
        message_text: null,
        investment_amount: 0
      };

    },
    created() {
      this.investment_amount = this.getRequiredAmount / 100;
    },
    computed: {
      tweet_text() {
        return `Help ${
          projectDetails.project.farmer_name
        } install %23solar water pump in ${
          projectDetails.project.district.name
        } so that ${
          this.gender == "Female" ? "she" : "he"
        } can grow crops to support ${
          this.gender == "Female" ? "her" : "his"
        }  family.%23MakeaDifference %232019 %23OffGridBaazar @ghampower`;
      },
      farmer() {
        return this.project.farmers[0];
      },
      developer() {
        return this.project.user;
      },
      investment() {
        return this.project.investment;
      },
      investment_percent() {
        const percent =
          this.project.investment.investment_percent !== null
            ? this.project.investment.investment_percent
            : 0;
        return parseFloat(percent);
      },
      municipality() {
        return this.project.municipality.name;
      },
      province() {
        return this.project.province.name;
      },
      env() {
        return projectHelper.calculateEnvParams(
          parseInt(this.project.solar_pv_size)
        );
      },
      funded: function() {
        if (parseInt(this.project.investment.investment_percent) >= 100)
          return true;
        return false;
      },
      investment_required() {
        return 100 - this.investment_percent;
      },
      age() {
        if (this.project.farmers[0].age === null) {
          return null;
        } else {
          return this.project.farmers[0].age;
        }
      },
      education() {
        if (this.project.farmers[0].education === 1) {
          return "Educated";
        } else {
          return "Grade 8";
        }
      },
      investorsExist: function() {
        return this.investor_list != 0;
      },
      numberOfMembers() {
        return this.project.farmers[0].no_of_people_in_house;
      },
      isProjectOperational(){
        let status = this.project.status;
        if(status === undefined || status === null){
          return  false;
        }
        if(status === 'operational' || status === 'error' || status === 'overdue'){
          return true;
        }
        return  false;
      }
    },
    methods: {
      addToSelectedProjects() {
        this.store.addProject({
          projectId: this.project.id,
          farmerName: this.project.farmer_name,
          districtName: this.project.district.name,
          gender: this.project.farmers[0].gender,
          amount: this.investment_amount * 100,
          municipality: this.project.municipality.name,
          province: this.project.province.name,
          cost: parseFloat(this.project.cost),
          investment: this.project.investment,
          bankabilityScore: this.bankabilityScore
        });
      },
      updateInvestmentPercent() {
        this.investmentStore.updateInvestmentPercent(...arguments);
      },
      getInvestorName(investor, initialsOnly = false) {
        let investorName = investor.full_name;
        if (investorName === undefined || investorName == null) {
          return "UN"; //UN:unknown or anonymous for now
        }
        if (initialsOnly)
          return  this.returnInitialsOnly(investorName);
        return investorName;
      },

      returnInitialsOnly(value){
        return value
                .split(" ")
                .map(function(item) {
                  return item[0];
                })
                .join("")
                .toUpperCase();
      },

      getPartnerName(investor, initialsOnly = false) {
        if (investor.partner === undefined || investor.partner === null ) {
          return this.getInvestorName(investor,initialsOnly);
        }
          let partnerName = investor.partner.name;
        if (initialsOnly) {
          return this.returnInitialsOnly(partnerName);
        }
        return partnerName;
      },
      getDeveloperName(developer) {
        let developerName = developer.full_name;
        if (developerName === undefined || developerName == null) {
          return "UN"; //UN:unknown or anonymous for now
        }
        return developerName;
      },
      getInvestorImage(investor){
         if(investor.profile_image === null || investor.profile_image === undefined){
            return  false;
         }
         return '/storage/upload/'+investor.profile_image;
      },
      getPartnerImage(investor) {
        if (investor.partner && investor.partner.partner_logo) {
          return '/storage/upload/' + investor.partner.partner_logo;
        }
        if (investor.partner && investor.partner.partner_logo === null) {
          return false;
        }
        return this.getInvestorImage(investor)
      },
      validation(value) {
        if (value == null) {
          return 0;
        }
        return value;
      },
      sendMessage() {
        let project_id = this.project.id;
        axios
          .post(`/project_fund/${project_id}/contact/developer`, {
            message: this.message_text
          })
          .then(response => response.data)
          .then(result => {
            this.message_text = "";
            alert(result.message);
          })
          .catch(function(error) {
            console.log(error);
          });
      },
      currencyConverter(number) {
        return `${this.$options.filters.numFormat(number / 100, "$0,0")}`;
      },
      landFormatter(number) {
        return `${this.$options.filters.numFormat(number, "0.00")} ha`;
      },
      verify() {
        if (this.investment_amount * 100 > this.getRequiredAmount)
          this.investment_amount = this.getRequiredAmount / 100;
        if (this.investment_amount <= 0) this.investment_amount = 1;
      },
      investmentPercentage(){
        let percent = this.investment_amount*100 / parseInt(this.project.cost);
        percent = percent*100;
        return parseFloat(percent)
      }
    },
    mixins: [
      projectBannerAndFarmerImage_mixin,
      remainingAmountandPercent_mixin,
      bankabilityImage_Score,
      titleText_gender
    ]
  };
</script>