<template>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-body p-5 text-center">

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <h3 class="modal-title mb-3">You have selected to fund  {{amount | numFormat("$0,0")}} ({{percentage | numFormat("$0.00")}}%). </h3>
    <p>You will have option to change funding amount during checkout.</p>

    <!--<form method="post">-->
    <input name="_token" type="hidden" :value="token">
    <input name="project_id" type="hidden" :value="inv.project_id">
    <input name="developer_id" type="hidden" :value="inv.developer_id">
    <input name="investor_id" type="hidden" :value="inv.investor_id">
    <input name="investment_percent" type="hidden" :value="inv.percent">
    <input name="investment_type_id" type="hidden" value="3">
    <input name="funding_type" type="hidden" value="0">
    <input name="noPaymentGateway" type="hidden" value="">

    <!--<button class="btn btn-lg btn-warning" type="submit">Checkout and Pay</button>-->
    <button class="btn btn-lg btn-warning" v-on:click="addToSelectedProjects">Checkout and Pay</button>
    <button class="btn btn-lg btn-outline-secondary" data-dismiss="modal" v-on:click="exploreProjects()">Continue Exploring</button>
  <!--</form>-->

  <!-- <p class="mt-4 mb-0">or, you can <a :href="'https://twitter.com/intent/tweet?text='+tweet_ShareText"  target="_blank"  class="twitter-share-button">share this news on Twitter <i class="icon ion-logo-twitter"></i></a></p> -->


</div> </div> </div> </div>
</template>

<script>
import remainingAmountandPercent_mixin from "../../mixins/remaining_Amount_Percent";
export default {
  data() {
    return {
      token: window._token,
      store: window.store,
      tweet_ShareText: "I am investing my 30%25 share in OGB project.",
      usd_exchange_rate: usd_exchange_rate
    };
  },
  props: {
    investmentStore: Object,
    project: Object,
    farmer: Object,
    bankabilityScore: Number,
    amount: Number,
    percentage: Number
  },
  computed: {
    inv: function() {
      return this.investmentStore.state;
    },
    exploreProjects: function() {
      window.location = "/project/list";
    }
  },
  methods: {
    addToSelectedProjects: function() {
      window.location = "/investment/checkout";
    }
  },
  mixins: [remainingAmountandPercent_mixin]
};
</script>
