<template>
  <div class="container">
      <loading v-if="isLoading"></loading>
      <div v-else>
        <div class="mt-3 mb-3 d-flex justify-content-between">
          <h4>My Investments</h4>
          <div v-if="projectsExist">
            <p><a href="/project/list" class="btn btn-warning">Find more projects to fund</a></p>
          </div>
        </div>

        <div v-if="projectsExist" class="row">
          <div  v-for="project in projects" class="mb-3 col-lg-3 col-sm-6" v-bind:key="project.id">
            <project-list-single v-bind:project="project"  v-bind:active = true v-bind:invested=true></project-list-single>
          </div>
        </div>
        <div v-else class="container">
          <p class="ml-10">Oopss! There is nothing here.<a href="/project/list"> Please browse our project catalog</a> to fund and support high impact projects.</p>
        </div>

      </div>
  </div>
</template>

<script>

import projectHelper from "../../helpers/project";
export default {
  data() {
    return {
      isLoading: true,
      projects: []
    };
  },

  created() {
    this.getProjects();
  },

  computed: {
    projectsExist: function() {
      return this.projects.length !== 0 ? true : false;
    }
  },

  methods: {
    getProjects() {
      api.getMyProjects().then(response => {
        this.isLoading = false;
        this.projects = response;
      });
    }
  }
};
</script>
