<template>
  <div class="container">
    <div class="row">
      <div v-for="project in projects" class="mb-3 col-lg-3 col-sm-6" v-bind:key="project.id">
        <project-list-single v-bind:project="project" v-bind:active="false" v-bind:notLoggedIn="true"></project-list-single>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        projects: []
      };
    },
    created() {
      this.getProjects();
    },
    methods: {
        getProjects() {
        api.getLatestProjects().then(response => {      
          this.projects = response;
        });
      }
    }
  };
</script>
