<template>
<div class="container">
    <div class="row justify-content-between index-header" v-if="loggedin != 'false'">
        <div class="col-lg-3 col-md-4 col-12">
            <button v-on:click="fundCheckout" class="btn btn-warning btn-block mr-3 mb-4 mb-md-0" :disabled="selectedProjects.length<=0"> Fund {{selectedProjects.length}} selected projects</button>
        </div>
        <div class="col d-none d-md-block"></div>

        <div class="col-md-2 col-4 col-xs-6">
            <select v-model="projectStatus" class="custom-select" v-on:change="onFilter">
                <option value='' >All Projects </option>
                <option value="funded" >Funded Projects</option>
                <option value="funding">Latest Projects</option>
            </select>

        </div>
        <div class="col-md-2 col-4 col-xs-6">
            <select v-model="district"  class="custom-select" v-on:change="onFilter">
              <option value=''> All Locations </option>
              <option v-for="district in getDistricts.sort()" :value="district" v-bind:key="district">{{district}}</option>
            </select>
        </div>
        <!-- <div class="col-md-2 col-4">
            <button class="btn btn-outline-secondary btn-block mr-3 mb-4 mb-md-0" v-on:click="onFilter"> <i class="icon ion-md-filter"></i> Filter</button>
        </div> -->
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="mt-3 mb-3" v-else>
      <h4>Projects</h4>
    </div>

    <loading v-if="isLoading"></loading>
    <div class="row" v-else>
        <div v-for="project in filteredProjects" class="mb-3 col-lg-3 col-sm-6" v-bind:key="project.id">
            <project-list-single v-bind:project="project" v-bind:onSelect="onSelect" v-bind:active="active"></project-list-single>
        </div>
    </div>

</div>
</template>

<script>
import projectHelper from "../../helpers/project";
import remainingAmountandPercent_mixin from "../../mixins/remaining_Amount_Percent";
export default {
  data() {
    return {
      isLoading: true,
      selectedProjects: [],
      projects: [],
      district: "",
      projectStatus: "funding",
      selectedDistrict: "",
      selectedStatus: "funding",
      store: window.store,
      active: true
    };
  },
  props: {
    loggedin: String
  },

  created() {
    this.getProjects();
    this.show();
    // this. filteredProjects();
  },

  methods: {
    show() {
      if (this.loggedin != "false") {
        this.active = true;
      } else {
        this.active = false;
      }
    },

    getProjects() {
      // api.getProjects().then(data => {
      return  axios.get('/all')
              .then(data =>{
                this.isLoading = false;
                this.projects = data.data;
                // console.log(res.data);
              });
            
    },

    onSelect(project, checked) {
      if (checked) {
        this.selectedProjects.push(project);
      } else {
        if (this.selectedProjects.indexOf(project) !== -1)
          this.selectedProjects.splice(
            this.selectedProjects.indexOf(project),
            1
          );
      }
    },

    bankabilityScore(credit_score) {
      return projectHelper.creditScoreToBankability(parseFloat(credit_score));
    },
    getUserInvestment(project) {
      if (project.investment.investment_amount != null) {
        return project.cost - project.investment.investment_amount;
      }
      return project.cost;
    },
    fundCheckout() {
      this.selectedProjects.forEach(project => {
        let district = Object.values(project.district);
        this.store.addProject({
          projectId: project.id,
          farmerName: project.farmer_name,
          amount: this.getUserInvestment(project),
          municipality: district[0],
          province: district[0],
          cost: parseFloat(project.cost),
          investment: project.investment,
          bankabilityScore: this.bankabilityScore(
            project.farmers[0].credit_score
          )
        });
        window.location = "/investment/checkout";
      });
    },

    onFilter() {
      this.selectedDistrict = this.district;
      this.selectedStatus = this.projectStatus;
      // this.filteredProjects;
    },

    sortProject(a, b) {
      if (a.status == "new" && b.status == "operational") return -1;
      if (a.status == "new" && b.status == "funded") return -1;
      if (a.status == "operational" && b.status == "funded") return -1;
      if (a.status == "funded" && b.status == "new") return 1;
      if (a.status == "operational" && b.status == "new") return 1;
      if (a.status == "funded" && b.status == "operational") return 1;
      return 0;
    }
  },
  computed: {
    filteredProjects() {
      return this.projects
        .filter(project => {
          if (this.selectedDistrict === "") return true;
          return project.district.name.match(this.selectedDistrict);
        })
        .filter(project => {
          switch (this.selectedStatus) {
            case "funding":
              return project.status === "funding";
            case "funded":
              return (
                project.status === "funded" || project.status === "installed" || project.status === "operational" || project.status === "overdue"
              );
            default :
              return (
                project.status === "funding" || project.status === "funded" || project.status === "installed" || project.status === "operational" || project.status === "overdue"
              );
          }
        })
        .sort(this.sortProject);
    },

    getDistricts() {
      const allDistricts = this.projects.map(project => project.district.name);
      const distinctDistricts = new Set(allDistricts);
      return [...distinctDistricts];
    }
  },
  mixins: [remainingAmountandPercent_mixin]  
};
</script>
