<template>
  <div :class="['card', 'h-100',  checked && !invested ? 'card-active':'']">
    <label :class="{addcheck: !fundable}" :for="'check__' + project.id" class="d-flex flex-column flex-grow-1">
      <input type="checkbox" :id="'check__' + project.id" name="" value="" v-model="checked" v-on:change="changeSelect" v-if="!fundable" />
      <img class="card-img-top" :src="getBannerImageForProject" alt="">
      <div class="farmer text-center"><img :src="getImg" class="farmer_pic rounded-circle" data-toggle="tooltip"  data-placement="top" :title="notLoggedIn ?'' : project.farmer_name"></div>
      <ul class="meter list-unstyled">
        <li data-toggle="tooltip" data-placement="top" title="Diesel displaced"><img src="/img/icon_oil.png" alt="" title=""><small>{{env.dieselDisplaced | numFormat('0.0') }} Kl</small></li>
        <li data-toggle="tooltip" data-placement="top" title="CO2 Curbed"><img src="/img/icon_co2.png" alt="" title=""><small>{{env.co2Curbed | numFormat('0.0') }} tons</small></li>
        <li data-toggle="tooltip" data-placement="top" title="Bankability Score"><img :src="`/img/icon_meter_level${bankabilityImage}.png`" alt="" title=""><small>{{bankabilityScore | numFormat(0.0) }}/5</small></li>
      </ul>
      <div class="card-body d-flex flex-column justify-content-between" style="[showDetails ?{'min-height': '310px'} :{}]">
        <div>
          <p class="card-title m-0 bold">{{notLoggedIn ? "Vegetable Farm" : project.farmer_name}}</p>
          <p><small><i class="icon ion-md-pin text-primary"></i> {{project.district.name}} <i class="icon ion-md-flash ml-2 text-primary"></i> {{project.solar_pv_size / 1000 | numFormat }} Kw</small></p>
          <p class="small text-muted" v-if="showDetails">{{title}}</p>
        </div>
        <div>
          <div v-if="!funded" class="d-flex align-items-end">
            <div class="w-100">
              <div class="progress mt-3 mb-1">
                <div class="progress-bar bg-success" role="progressbar" :style="`width: ${received_investment}%`" :aria-valuenow="project.investment.investment_percent" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="d-flex flex-wrap justify-content-between  mb-3 ">
                <div>
                  <small>Total</small>
                  <p class="bold m-0 d-flex flex-wrap">{{project.cost | currencyConversion | numFormat("$0,0")}}</p>
                </div>
                <div>
                  <small>Raised</small>
                  <p class="bold m-0">{{project.investment.investment_amount | currencyConversion | numFormat("$0,0")}}</p>
                </div>
                <div>
                  <small>Required</small>
                  <p class="bold m-0">{{getRequiredAmount | currencyConversion | numFormat("$0,0")}}</p>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div class="row funded-text" v-if="showCurbedData">
              <div class="col-6">
                <small class="tiny">Diesel Displaced</small>
                <p class="bold p-0">{{env.dieselDisplaced | numFormat('0.0') }} Kl/yr</p>
              </div>
              <div class="col-6">
                <small class="tiny">CO<sub>2</sub> Curbed</small>
                <p class="bold p-0">{{env.co2Curbed | numFormat('0.0') }} Tons/yr</p>
              </div>
            </div>
            <div class="d-flex align-items-end" >
              <div class="w-100">
                <div class="progress mt-2 mb-1">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>{{project.cost | currencyConversion | numFormat("$0,0")}} raised </small>
                <p class="text-warning">Funding completed</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
          <a :href="'/project-fund/'+project.id+'?new'" class="btn btn-sm btn-info justify-content-center text-white detail-btn d-flex flex-grow-1 mr-2"  :data-toggle="modalBox" data-target="#login">View Details</a>
          <button class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#share"><i class="icon ion-md-share"></i> Share</button>
          </div>
        </div>
      </div>
    </label>
  </div>
</template>
<script>
import remainingAmountandPercent_mixin from "../../mixins/remaining_Amount_Percent";
import projectBannerAndFarmerImage_mixin from "../../mixins/projectBanner-farmerImage";
import titleText_gender from "../../mixins/titleText-gender";
import projectHelper from "../../helpers/project";
export default {
  data() {
    return {
      checked: false,
      params: {},
      store: window.store
    };
  },
  created() {
    this.tooltip;
  },

  props: {
    project: Object,
    onSelect: Function,
    active: Boolean,
    invested: Boolean,
    notLoggedIn: Boolean
  },
  computed: {
    tooltip: function() {
      this.$nextTick(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    },
    env: function() {
      return projectHelper.calculateEnvParams(
        parseInt(this.project.solar_pv_size)
      );
    },
    bankabilityScore: function() {
      return projectHelper.creditScoreToBankability(
        parseFloat(this.project.farmers[0].credit_score)
      );
    },
    bankabilityImage: function() {
      const num = Math.round(this.bankabilityScore);
      if (num == 0) return 1;
      return num;
    },
    funded: function() {
      if (this.project.investment.investment_amount >= this.project.cost) return true;
      return false;
    },
    fundable: function() {
      let inStore = false;
      this.store.projects.forEach(project => {
        if (project.id == this.project.id) {
          inStore = true;
        }
      });
      if (
        this.project.investment.investment_percent >= 100 ||
        !this.active ||
        inStore ||
        this.invested
      )
        return true;
      return false;
    },
    modalBox() {
      if (this.active) {
        return null;
      }
      return "modal";
    },
    showDetails() {
      if (this.notLoggedIn || this.invested || this.project.status == "funded" || this.project.status == "operational") return false;
      return true;
    },
    showCurbedData(){
      if ( this.notLoggedIn || this.invested) return false;
      return true;
    },
    received_investment(){
      let percent = this.project.investment.investment_amount / Number(this.project.cost);
      percent = percent * 100;
      return percent;
    }
  },
  methods: {
    changeSelect: function(ev) {
      if (this.funded) return;
      const checked = ev.target.checked;

      this.onSelect(this.project, checked);
    }
  },
  mixins: [
    projectBannerAndFarmerImage_mixin,
    remainingAmountandPercent_mixin,
    titleText_gender
  ]
};
</script>
