<template>
  
</template>

<script>
export default {
  data() {
    return {
      store: window.store

    };
  },
  created: function(){
      this.success();
  },
  methods: {
    success(){
        this.store.removeAllProjects();
    }
  }
};
</script>
