<template>
    <section>
        <a href="/project/list" class="btn btn-danger">Go to Project List Page</a> or, 
        <button type="button" @click="retry()" class="btn btn-outline-danger">Retry processing</button>
    </section>
</template>

<script>
export default {
  methods: {
    retry(){
        this.$root.$emit('checkout')
    }
  }
};
</script>