<template>
<div class="modal fade" id="share" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content p-4 p-md-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4>Help us spread the word </h4>
                </div>
                <section id="social" class="row text-center signup-section">
                    <div class="col-12">
                        <div class="row">
                            <div class="form-group col-md-11">
                                <textarea ref="text" class="form-control text-justify tweet-text-area" rows="4" readonly v-model="share_text" ></textarea>
                            </div>
                            <div class="col-md-1 pl-0 d-flex align-items-center" >
                                <button @click="copyTextArea" class="mb-2 btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Click the button to copy text">
                                    <img src="/img/copy-icon.png" alt="" height="30" width="30">
                                </button>
                            </div>
                        </div>
                        <p class="share">Use any of these social media to share the news </p>
                    </div>
                    <div class="col-6">
                        <a href="https://www.facebook.com/sharer/sharer.php?caption=ProjectOGB&u=https://offgridbazaar.com/" target="_blank" class="nav-link"><button class="btn btn-block btn-lg btn-facebook mb-3"><i class="icon ion-logo-facebook"></i> Facebook</button></a>
                    </div>
                    <div class="col-6">
                        <a :href="'https://twitter.com/intent/tweet?text=' + tweet_text + '&url=https://offgridbazaar.com/'" target="_blank" class="nav-link"><button class="btn btn-block btn-lg btn-twitter mb-3"><i class="icon ion-logo-twitter"></i> Twitter</button></a>
                    </div>
                    <div class="col-6">
                        <a href="https://plus.google.com/share?url=https://offgridbazaar.com/" target="_blank" class="nav-link"><button class="btn btn-block btn-lg btn-google mb-3"><i class="icon ion-logo-google"></i> Google</button></a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://offgridbazaar.com/" target="_blank" class="nav-link"><button class="btn btn-block btn-lg btn-linkedin mb-3"><i class="icon ion-logo-linkedin"></i> LinkedIn</button></a>
                    </div>
                    <a href="/index"></a>
                    <div class="col-6 text-btn" v-if="showcontinue">
                        <a href="/index"> <button class="btn btn-outline-secondary btn-lg">{{buttonText}}</button> </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      tweet_text: this.paid
        ? "I just funded an awesome impact project by @GhamPower that provides %23solar to rural farmers in #Nepal. Join me to fund more farmers. %23MakeaDifference %232019 %23BeTheChange: https://offgridbazaar.com %23OffGridBazaar"
        : "This year, I am supporting awesome %23impact projects by @GhamPower providing %23solar to rural farmers in %23Nepal! Join me to help more farmers. https://offgridbazaar.com %23MakeaDifference %232019 %23OffGridBaazar",
      share_text: this.paid
        ? "I just funded an awesome impact project by @GhamPower that provides #solar to rural farmers in #Nepal. Join me to fund more farmers. #MakeaDifference #2019 #BeTheChange: https://offgridbazaar.com #OffGridBazaar"
        : "This year, I am supporting awesome #impact projects by @GhamPower providing #solar to rural farmers in #Nepal! Join me to help more farmers. https://offgridbazaar.com #MakeaDifference #2019 #OffGridBaazar"
    };
  },

  props: {
    paid: Boolean,
    showcontinue: Boolean,
    showskip: Boolean
  },

  created() {
    this.tooltip;
  },
  
  computed: {
    tooltip: function() {
      this.$nextTick(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    },
    buttonText: function() {
       return this.showskip ? 'Skip Now' : 'Continue'
    }
  },

  methods: {
    copyTextArea() {
      this.$refs.text.select();
      document.execCommand("copy");
    }
  }
};
</script>
