
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import "styles.css";
@import "login.css";
@import url("https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css");
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500');
