.btn-group, .btn-group-vertical {
    position: relative;
    /* display: inline-block; */
    vertical-align: middle;
 }
 
 .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
 }
 
 [data-toggle="buttons"] > .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
 }

 form .toggle-btn-group .btn-group {
    padding: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14) inset;
    border-radius: 4px;
    background-color: #F3F3F3;
 }

 form .btn-secondary,form .btn-secondary:focus,form .btn-secondary:hover{
    box-shadow: none !important;
    border: none !important;
    color: #C2C2C2;
    padding: 16px 32px;
    text-transform: none;
    background-color: transparent;
 }

 form .btn-secondary.active {
    background-color: #4486F9 !important;
    border-radius: 4px !important;
    color: #FFF !important;
}