body, html {
	font-family:  'Fira Sans',sans-serif;
}

div, input, select, .text-muted {
	font-weight: 400;
}

.container-full {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-full .row, .container-full div[class^="col-"] {
    margin: 0;
    padding: 0;
}

label {
	display: block;
	width: 100%;
}

.bold {
	font-weight: 500;
	font-family: 'Fira Sans', sans-serif;
}

.fund-title{
	font-weight: 500;
	font-family: 'Fira Sans', sans-serif;	
}

.dim {
	opacity: 0.7;	
}

small {
	font-weight: 400;
	font-family: 'Fira Sans', sans-serif
}

.index-header{
	position: sticky;
	top: 0;
	margin: 0px;
	padding-top: 10px;
	z-index: 300;
	background-color: white;
	width: 100%;
}

small.tiny {
	font-size: 0.7rem;
}

.hero-banner {
	padding: 40px 0;
	margin-bottom: 2%;
	background-color: #D9F7FA;
}

.hero-banner img {
	height: 20px;
}

.progress {
	height: 3px;
}

label {
	display: block;
}

.btn {
	border-radius: 3px;
}


.is_stuck {
	z-index: 1000;
	border-radius: 0 0 4px 4px;
	border-top: none;
	padding-top: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.close {
	transform: scale(1.4);
	position: relative;
	margin: -25px;
}

.intro {
	display: none;
}

.fund-subtitle{
	font-size: 1.25rem;
	font-weight: 400;
	font-family: 'Fira Sans', sans-serif;
	
}

.subtitle-text{
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Fira Sans', sans-serif
}

.footer-text{
	font-weight: 400;
	font-family: 'Fira Sans', sans-serif
}

.is_stuck .intro {
	display: block;
}

.vline {
	border-left: 1px solid #DDD;
}

.btn-facebook, .btn-twitter, .btn-linkedin, .btn-google {
	color:#FFF;
	font-weight: normal;
}


.btn-facebook:hover, .btn-twitter:hover, .btn-linkedin:hover, .btn-google:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.btn-facebook {
	background-color: #0064b4;
}

.btn-twitter {
	background-color: #1dcaff;
}

.btn-linkedin {
	background-color: #0077B5;
}
.btn-google {
	background-color: #D74439;
	box-shadow: 0 2px 5px #DDD;
}

.text-facebook {
	color:#0064b4;
}
.text-twitter {
	color:#1dcaff;
}
.text-google {
	color:#D74439;
}
.text-linkedin {
	color:#0077B5;
}

.fund-details{
	padding: 0px 2px 0px 0px;
}


@media only screen and (min-width: 768px) {
	.mobile-trigger {
		display: none;
	}
}

@media only screen and (max-width: 767px) {

	.investment-card {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 1000;
		left: 0;
		box-shadow: 0 0 120px rgba(0,0,0,0.8);
	}

	.mobile-body, .mobile-cancel {
		display: none;
	}

}

.card-dark {
	background-color: #f8f9fa;
}


.card-active {
	border-color:#007bff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card label.addcheck:before {
	content:"";
	width: 24px;
	height: 24px;
	position: absolute;
	border-radius: 50%;
	color:#FFF;
	padding-left: 4px;
	border: 2px solid #FFF;
	margin: 10px;
}

.card-active label.addcheck:before {
	content:"✓";
	background-color: rgb(0, 123, 255);
	border-color: rgb(0, 123, 255);	
}

.card input[type="checkbox"] {
	display: none;
}



.table-wrapper {
	width: 100%;
	overflow-x: auto;
}

table.table {
	min-width: 960px;
}

table.table-stats td {
	padding-left: 0;
	padding-right: 0;
}

table.table-stats h5 {
	margin: 0;
	padding-left: 12px;
}

table.table-stats tr td:nth-child(odd) {
	text-align: right;
}

table.table-stats tr:first-child td {
	border-top: none;
	padding-top: 0;
}
table.table-stats tr:last-child td {
	padding-bottom: 0;
}



.stat_icon {
	height: 25px;
	margin-right: 8px;
}

.chart-container {
	position: relative; 
	height: 40vh;
	width: 80vw;
}



.side-img {
	width: 30%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	min-height: 260px;
	border-radius: 3px 0 0 3px;
	align-self: stretch;
}

.funded-text{
	height: 80px;
}

.funded-text .tiny{
	font-family:  sans-serif;
}

#inputGroup-sizing-sm{
	color: white;
	border: none;
}

#checkout-input{
	border: 2px solid #f0ad4e;
}

@media only screen and (max-width: 575px) {

	.card {
		display: block !important;
	}

	.card .media .side-img {
		display: block;
		width: 100%;
		height: 150px !important;
		border-radius: 3px 3px 0 0;
	}

	.card .media-body {
		display: block;
		width: 100%;
	}

}

.card-img-top {
	max-height: 150px;
}

.meter {
	margin: -30px 5px -15px 5px;
	background-color: #FFF;
	padding: 10px 20px;
	border-radius: 50px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	z-index: 100;
	justify-content: space-around;
	box-shadow: 0 -5px 5px rgba(0,0,0,0.2);
}



.meter img {
	height: 20px;
	margin-bottom: 3px;
}


.meter li {
	display: inline-block;
	text-align: center;
	margin: 0 10px;
}

.meter small {
	display: block;
	font-weight: 500;
	color:#777;
}


.credit_tiny {
	height: 14px;
	position: relative;
	margin: -2px 6px 0 6px;
}


.farmer {
	margin-top: -60px;
}

.farmer_pic {
	width: 75px;
	border: 5px solid #FFF;
	height: 75px;
	z-index: 180;
	margin: -35px auto 25px auto;
	position: relative;
	background-color: #fff;
}

.supporter {
	width: 80px;
	margin: 15px 0 10px 0;
}

.supporter_init {
	width: 80px;
	height: 80px;
	background-color: #EEE;
	border: 4px solid #DDD;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 28px;
	margin: 15px auto 10px auto;
}

.hidden_until_clicked {
	display: none;
}


.signup-section {
	width: 100%;
}




.custom-commit {
	background-color: #FDFDFD;
	border: 1px solid #DDD;
	margin: 5px;
	border-radius: 4px;
}

.custom-commit.checked {
	background-color: #d1ecf1;
	border-color:#bee5eb;
}

.custom-commit .custom-control-label {
	padding: 15px;
}

.custom-commit .custom-control-label:before {
	top: 18px;
	left: 12px;
}


.custom-commit .custom-control-label:after {
	top: 18px;
	left: 12px;
}

.error{
  	color:red
}

.profile-form{
	padding: 30px;
	background-color: #f8f9fa;
	margin: 120px auto;
}
header.fixed {
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.socialLoginButton{
	color: #FFF;
}
.hero-section {
	position: absolute;
	background-color: rgba(0,0,0,.8);
	float: left;
	z-index: 1;
	margin-top: 2.8rem;
	color: #fff;
	border-radius: 0 4px 4px 0;
	overflow: auto;
}
.nopadding {
	padding: 0 !important;
}

.hero-section .hero-title-text {
	font-size: 1.6rem;
	font-weight: lighter;
	padding-bottom: 0.8rem;
}
.hero-info {
	padding: 2rem;
}
.text-btn{
	display: table;
	margin: auto;
}

.align-items-end small {
	font-size: 78%
}
.share{
	font-size:15px 
}

.tweet-text-area{
	font-size: 12px;
}

.btn.mail-btn{
	padding: 0px 14px;
	border-color: #c7c7c7;
}

.btn.mail-btn:hover{
	background-color: #c7c7c7;
}

.mail-btn i{
	font-size: 24px;
}

.checkout-progress{ 
	background-color: #c7c7c7;
	height: 5px;
}

.checkout-progress-warning{ 
	background-color: #f0ad4e
}

.checkout-progress-success{ 
	background-color: #5cb85c;
	
}

.banner-header{
	margin-top: 5px; 
	margin-bottom: 0;
	font-size: 24px;
	line-height: 20px;
}

a.btn:hover{
	color: #ffffff;
}

 .banner-text{
	font-size: 12px;
	margin-top: 0; 
}
.home-main {
	/*  use this gradient values for another image */
	/* background-image: linear-gradient(0deg, #89add2, #93adbf);  */
	/* background-image: linear-gradient(90deg, #b2b5ba, #FFFFFF); */
	background-image: -webkit-linear-gradient(90deg, #b2b5ba, #FFFFFF);
	/* background-image: -moz-linear-gradient(90deg, #b2b5ba, #FFFFFF);  */
}

.home-main-wrapper {
	padding: 15vh 0 0 0;
}
.hero-summary {
	padding-top: 15vh;
	padding-bottom: 15vh;
}
.train {
	text-align: center;
}

.train span.round {
	background-color: #DDD;
	width: 32px;
	height: 32px;
	display: inline-block;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 12px auto 24px auto;
}

.train-line {
	border-bottom: 3px solid #DDD;
	width: 65%;
	position: absolute;
	z-index: -1;
	margin-top: 215px;
}
.tooltip.show {
	opacity: 1 !important;
}



@media only screen and (max-width: 767px) {
	.train {
		text-align: left !important;
	}

	.train span.round {
		display: none;
	}

	.train i.icon {
		background-color: #DDD;
		font-size: 18px;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		margin-left: -50px;
		margin-top: 5px;
	}

	.train-segment h4, .train-segment p {
		padding-left: 60px;
	}

	.train-line {
		height: 40%;
		width: 1px;
		margin: 0 !important;
		border-left: 2px solid #DDD;
	}

	
}

@media only screen and (min-width: 768px) and (max-width: 791px) {
	.train-line {
		margin-top: 245px;
	}
}


.profile-upload{
	position: relative;
	width: 130px;
	height: 130px;
	margin:auto;
	overflow: hidden;
}

.profile-upload img{
	width: 100%;
	height: 100%;
}


.profile-upload input{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
    opacity: 0;
    width: 130px;
	height: 130px;
}

.profile-upload span{
	position: absolute;
    left: 50%;
    bottom:0%;
    transform: translate(-50%,20%);
    display: inline-block;
    padding: 8px 12px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    opacity: 0;
}

.profile-upload:hover span{
	transform: translate(-50%,0%);
	opacity: 1;
	background:rgba(0,0,0,0.7);
	transition: 0.5s;
}

.lead{
	font-weight: 400;
}

.navbar-light .navbar-nav .nav-link{
	font-weight: 400;
}