<template>
    <div class="funding-progress-bar" v-if="shouldDisplay">
        <h6 class="mb-3">Project Funding</h6>
        <div class="main-bar">
            <div class="remaining" v-text="totalInvestment + ' of ' + cost"></div>
            <div class="bar-fluid" :style="{width:getFundingStats+'%','background-color':getColorForFunding}"></div>
        </div>
        <!--        <input type="text" placeholder="Just for Test Put Investment" v-model="getFundingStats" v-if="status==='funding'">-->
    </div>
</template>

<script>
  export default {
    name: 'FundingSate',
    props: {
      'id': {
        required: true
      },
      'cost':{
        required: true
      }
    },
    created () {
      eventBus.$on('statusemit', this.changeStatus)
      eventBus.$on('investment-done', this.getFundingPercentage)
      this.getFundingPercentage()
    },
    data () {
      return {
        isActive: null,
        fundingStats: null,
        status: '',
        remaining: 0,
        totalInvestment: 0,
      }
    },
    mounted () {
      this.isActive = this.shouldDisplay
      this.fundingStats = this.getFunding
    },
    computed: {
      shouldDisplay () {
        if (this.status === '') {
          return false
        }
        return !(this.status === 'draft' || this.status === 'plan' || this.status === 'new' || this.status === 'approved')
      },
      getColorForFunding () {
        if (this.fundingStats < 100) {
          return 'yellow'
        }
        else {
          return 'green'
        }
      },
      getFunding () {
        return !(this.status === 'funding') ? 0 : 100
      },
      getFundingStats () {
        return this.fundingStats
      },
      // totalFunding(){
      //   return this.cost - (this.remaining.toInteger)
      // }
    },
    watch: {
      fundingStats: function () {
        console.log('hello')
        if (this.fundingStats == 100) {
          this.registerFilterGuideline()
          eventBus.$emit('refresh')
          eventBus.$emit('refresh-guideline')
        }
      }
    },
    methods: {
      changeStatus (status) {
        console.log('here i am', status)
        this.status = status.status
          if(this.status==='operational' ||this.status==='error' || this.status==='overdue' ){
              let btn=document.querySelector('#customize-package');
              console.log("funding state condition")
              if(btn) {
                  btn.disabled= true;
              }
          }
      },
      registerFilterGuideline () {
        // axios.put('/ogbadmin/project/changeFundingState/'+this.id).then( res => {
        //     eventBus.$emit('change-status',{
        //         'status' : 'funded'
        //     })
        // }).catch( err => {
        //
        // });
      },
      getFundingPercentage () {
        console.log('hello')
        var app = this
        axios.get('/ogbadmin/project/' + this.id + '/investment-percentage').then(res => {
          app.fundingStats = res.data.percentage
          app.remaining = res.data.investmentRemaining
          app.totalInvestment = res.data.totalInvestment
          this.$forceUpdate()
          eventBus.$emit('investment-percentage-change', {
            investmentPercentage: app.fundingStats
          })
        })

      }
    }
  }
</script>

<style scoped>
    .main-bar {
        border: 1px solid rgb(192, 204, 218);
        height: 20px;
        width: 100%;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        margin: 10px 0;
    }

    .funding-progress-bar {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bar-fluid {
        position: absolute;
        left: 0;
        /*width: 100%;*/
        background: green;
        height: 100%;
    }

    .remaining {
        display: flex;
        position: absolute;
        right: 36%;
        z-index: 2;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: black;
    }
</style>