<template>
    <div class="row">
        <div class="col-lg-7 col-sm-12">
            <div class="text-muted mb-4">Investment Breakdown</div>
            <div class="no-record-found text-center mt-2" v-show="this.percentage === 0">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0  60 60" xml:space="preserve">
                                                <path d="M36.5,22h-25c-0.6,0-1,0.4-1,1s0.4,1,1,1h25c0.6,0,1-0.4,1-1S37,22,36.5,22z M11.5,16h10c0.6,0,1-0.4,1-1s-0.4-1-1-1h-10
                                                c-0.6,0-1,0.4-1,1S10.9,16,11.5,16z M37.5,31c0-0.6-0.4-1-1-1h-25c-0.6,0-1,0.4-1,1s0.4,1,1,1h25C37,32,37.5,31.6,37.5,31z M29.5,39
                                                c0-0.6-0.4-1-1-1h-17c-0.6,0-1,0.4-1,1s0.4,1,1,1h17C29,40,29.5,39.6,29.5,39z M11.5,46c-0.6,0-1,0.4-1,1s0.4,1,1,1h14
                                                c0.6,0,1-0.4,1-1s-0.4-1-1-1H11.5z M2.5,2h29v14h14v15h2V14.6L32.9,0H0.5v60h37v-2h-35C2.5,58,2.5,2,2.5,2z M33.5,3.4L44.1,14H33.5
                                                V3.4z M59.2,58.3l-6-6.2c1.7-1.9,2.8-4.5,2.8-7.3c0-6-4.8-10.8-10.8-10.8s-10.8,4.8-10.8,10.8s4.8,10.8,10.8,10.8
                                                c2.4,0,4.7-0.8,6.5-2.2l6,6.3c0.2,0.2,0.5,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3C59.6,59.3,59.6,58.7,59.2,58.3z M36.5,44.8
                                                c0-4.8,3.9-8.8,8.8-8.8s8.8,3.9,8.8,8.8s-3.9,8.8-8.8,8.8S36.5,49.6,36.5,44.8z"/>
                                            </svg>
                <p class="mt-3">No Record Found</p>
            </div>
            <canvas id="project_status" class="col_canvas" v-show ="this.percentage > 0"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="text-muted mb-4">EMI Breakdown</div>
            <h3 class="section-title"></h3>
            <div class="row mb-2" v-for="investor in contribution">
                <div class="col-md-6" v-text="'EMI ' + investor.investor"></div>
                <div class="col-md-6"><strong v-text=" Boolean(investor.emi) ? 'Rs. ' + investor.emi.toFixed(1) :'Rs. 0'"></strong></div>
            </div>
            <!--<div class="row mb-2">-->
                <!--<div class="col-md-6">EMI MFI</div>-->
                <!--<div class="col-md-6"><strong>Rs. 35,123.11</strong></div>-->
            <!--</div>-->
            <!--<div class="row mb-2">-->
                <!--<div class="col-md-6">EMI Other</div>-->
                <!--<div class="col-md-6"><strong>Rs. 35,123.11</strong></div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">EMI Grants</div>-->
                <!--<div class="col-md-6"><strong>Rs. 35,123.10</strong></div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">Total EMI for Farmer</div>
                <div class="col-md-6"><strong v-text="total ? 'Rs. '+ total.toFixed(1) : 'Rs 0'"></strong></div>
            </div>
            <div class="row" v-show="role === '50'">
                <div class="col-md-6">Digital EMI</div>
                <div class="col-md-6">
                    <form action="" class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control mr-2" :disabled="true">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data(){
      return {
        dataSetsInvestor: [],
        dataSetsAmount: [],
        backgroundColor: ['#66BB6A','#FF8C63', '#9e9e9e', '#03A9F4', '#EF5350', '#EF5350'],
        contribution: [],
        total:0,
        projectStatus:null,
        percentage: 0,
        // label: ['Gham Power', 'MFI Partner', 'Farmer Equity', 'Other (OGB / Crowd Funding)', 'Funding Gap']
      }
    },
    props:{
      id:{
        required:true
      },
      role:{
        required:true
      }
    },
    mounted(){
      this.projectStatus = document.getElementById('project_status')
      this.projectStatus.height = 70
      this.getInvestmentData();
    },
    created(){
      eventBus.$on('investment-done',this.getInvestmentData)
    },
    methods: {
      getInvestmentData(){
        axios.get('/ogbadmin/project/'+this.id+'/investment-chart').then( res => {
          this.dataSetsInvestor = res.data.dataSetsInvestor
          this.dataSetsAmount = res.data.dataSetsAmount
          this.contribution = res.data.contribution
          this.total = res.data.total
          this.percentage = res.data.percentage
          this.populateDiagram()
        })
      },
      populateDiagram(){

        this.projectStatus.width += 0
        // projectStatus.clearRect ( x , y , w , h )
        var project_status = new Chart(this.projectStatus, {
          type: 'doughnut',
          data: {
            datasets: [{
              data: this.dataSetsAmount,
              backgroundColor: this.backgroundColor
            }],
            labels: this.dataSetsInvestor
          },
          options: {
            legend: {
              position: 'right',
              fontSize: 14,
              labels: {
                fontSize: 14
              },
              onClick: null
            }
          }
        })
      }
    }
  }
</script>