<!--Vue.component('app-modal', {-->
<!--template: `-->
<template>
    <div class="for-edit-blade">
        <div class="close-modal" @click="$emit('close')"></div>
        <!--<div class="loader" v-show="isLoading">-->
            <!--<div class="message-box">-->
                <!--<i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>-->
                <!--<span class="sr-only">Loading...</span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="main-popup-form">
            <div class="form-header" >
                <span class="header-title">Edit Personal Information</span>
                <span><i class="fa fa-circle-notch fa-spin fa-3x fa-fw" v-show="isLoading"></i></span>
            </div>
            <form action='#' class="form-element" method="post" @submit.prevent="onSubmit($event)">
                <div class="id-project">
                    <div class="project-farmer-image">
                        <label for="file-input">
                            <img :src="getImageUrl"/>
                        </label>
                        <input id="file-input" type="file" name="farmer_image" @change="onImageChange"/>
                    </div>
                    <div class="project-id">
                        <span class="id-header">Project Id</span>
                        <span class="id-body">Project Id#{{getProjectData.id}}</span>
                    </div>
                    <div class="payment-id">
                        <span class="id-header">Payment Id</span>
                        <span class="id-body">{{getProjectData.payment_id}}</span>
                    </div>
                </div>
                <div class="form-main-body">
                    <div class="form-item">
                        <label for="farmer_name">Farmer Name:</label>
                        <input type="text" id="farmer_name" name="farmer_name" v-model="projectData.farmer_name">
                    </div>
                    <div class="form-item">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" v-model="getProjectData.description">
                    </div>
                    <div class="form-item">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" v-model="getProjectData.address">
                    </div>
                    <div class="form-item-half">
                        <div class="half-part">
                            <label for="created_on">Created-on:</label>
                            <input type="date" id="created_on" name="created_on" v-model="getProjectData.created_on">
                        </div>
                        <div class="half-part">
                            <label for="system-size">System Size:</label>
                            <input type="text" id="system_size" name="system_size" v-model="getProjectData.system_size"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-item-half">
                        <div class="half-part">
                            <label for="contact_no">Mobile number:</label>
                            <input type="text" id="contact_no" name="contact_no" v-model="getProjectData.contact_no">
                        </div>
                        <div class="half-part">
                            <label for="category">Category:</label>
                            <select v-model="getProjectData.project_type_id">
                                <option v-for="option in getProjectData.project_types" v-bind:value="option.id">
                                    {{ option.name }}
                                </option>
                            </select>
                            <!--<input type="text" id="category" name="category" v-model="getProjectData.project_type_id" readonly>-->
                        </div>
                    </div>
                    <div class="form-item-half">
                        <div class="half-part">
                            <label for="no_of_people_in_house">Family Members:</label>
                            <input type="text" id="no_of_people_in_house" name="no_of_people_in_house"
                                   v-model="getProjectData.no_of_people_in_house">
                        </div>
                        <div class="half-part">
                            <label for="no_of_dependents">Dependent:</label>
                            <input type="text" id="no_of_dependents" name="no_of_dependents"
                                   v-model="getProjectData.no_of_dependents">
                        </div>
                    </div>
                    <div class="form-item-half">
                        <div class="half-part">
                            <label for="age">Age:</label>
                            <input type="text" id="age" name="age" v-model="getProjectData.age">
                        </div>
                        <div class="half-part">
                            <label for="education">Educataion:</label>
                            <input type="text" id="education" name="education" v-model="getProjectData.education">
                        </div>
                    </div>
                    <div class="form-item-half">
                        <div class="half-part">
                            <label for="created_by">Developed By:</label>
                            <input type="text" id="created_by" name="created_by" v-model="getProjectData.created_by"
                                   readonly>
                        </div>
                        <div class="half-part">
                            <label for="status">Project Status:</label>
                            <input type="text" id="status" name="status" v-model="getProjectData.status" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="button" class="btn" @click="$emit('close')">Cancel</button>
                    <button type="submit" class="btn btn-primary" v-if="!isLoading">Save</button>
                    <button type="submit" class="btn btn-primary" v-else :disabled='isLoading'><i class="fa fa-circle-notch fa-spin" style="margin-right:8px"></i>Pending</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['isActiveProp'],
        data() {
            return {
                projectData: {},
                image: [],
                image_url: '',
                loadingMessage: '',
                isLoading: false
            }
        },
        methods: {
            closeBtn(e) {
// console.log(this.isActive);
// this.isActive=false;
            },
            onSubmit(event) {
                console.log(event)
                this.loadingMessage = 'Please Wait!! Processing Form'
                this.isLoading = true
                let data = this.getData()
                axios.post('/ogbadmin/project/edit/' + this.isActiveProp, data).then(data => {
                    this.loadingMessage = 'Successful update'
                    setTimeout(this.changeLoadingState, 1000)
// console.log(data)
                    this.$emit('changedata');
                })
            },
            getData() {
                let formData = new FormData()
                formData.append('id', this.projectData.id)
                formData.append('farmer_name', this.projectData.farmer_name)
                formData.append('description', this.projectData.description)
                formData.append('address', this.projectData.address)
                formData.append('created_on', this.projectData.created_on)
// formData.append('system_size', this.projectData.system_size);
                formData.append('contact_no', this.projectData.contact_no)
                formData.append('project_type_id', this.projectData.project_type_id)
                formData.append('no_of_people_in_house', this.projectData.no_of_people_in_house)
                formData.append('no_of_dependents', this.projectData.no_of_dependents)
                formData.append('age', this.projectData.age)
                formData.append('education', this.projectData.education)
                formData.append('created_by', this.projectData.created_by)
                formData.append('status', this.projectData.status)
                formData.append('file_name', this.image)
                formData.append('category_id', 1)
                return formData
            },
            onImageChange(e) {
                console.log(e.target.files[0])
// this.image = e.target.files[0];
// console.log(this.image);
// this.form.errors.clear('image');
// this.isSubmitting = false;
                this.image = e.target.files[0]
                var input = e.target
// Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    console.log('here')
// create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader()
// Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
// Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
// Read image as base64 and set to imageData
// console.log(e.target.result) encode the image to data url
                        this.image_url = e.target.result
                    }
// Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0])
                }
                console.log(this.image)
            },
            changeLoadingState() {
                this.isLoading = !this.isLoading
                // location.reload()
            }
        },
        watch: {
            isActiveProp: function (val) {
                console.log(val, this.isActiveProp)
                this.loadingMessage = 'Please Wait!! Loading'
                this.isLoading = true
                axios.get('/ogbadmin/project-information/' + this.isActiveProp).then(data => {
                    this.projectData = data.data.data
                    console.log(this.projectData)
                    this.isLoading = false
                })
            }
        },
        computed: {
            getProjectData() {
                return this.projectData
            },
            getImageUrl() {
                if (this.image_url === '') {
                    return this.projectData.image
                } else {
                    return this.image_url
                }
            }
        }
    }
</script>

<style>

    .close-modal {
        height: 100vh;
        flex: 1;
    }

    .for-edit-blade {
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        color: #010538;
        height: 100vh;
    }

    .main-popup-form {
        overflow: auto;
        height: 100%;
        width: 30%;
        animation: appear .3s ease-in;
        /* color:white; */
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .form-header {
        /* padding: 10px 25px; */
        /*height: 80px;*/
        border-bottom: 2px solid rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 20px;
        font-weight: bold;
        height: 58px;
        display: flex;
        align-items: center;
    }

    .form-header, .form-element > div, .form-footer {
        padding: 10px 25px;
    }

    .form-element {
        display: flex;
        background: white;
        flex-direction: column;
    }

    .id-project {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .project-farmer-image {
        height: 15vh;
        width: 15vh;
        border-radius: 50%;
        overflow: hidden;
        border: 1px dashed;
    }

    .project-farmer-image > input {
        display: none;
    }

    .project-farmer-image > label {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position:relative;
    }

    .project-farmer-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .project-id, .payment-id {
        display: flex;
        flex-direction: column;
    }

    .id-header {
        font-size: 12px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.5);
    }

    .id-body {
        font-weight: bold;
    }

    .form-main-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .form-main-body > * {
        margin: 10px 0;
    }

    .for-item label {
        font-weight: 400;
    }

    .form-item > input, .half-part > input, select {
        width: 100%;
        padding: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    .form-item-half {
        display: flex;
        justify-content: space-between;
    }

    .half-part {
        width: 46%;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
        width: 15px;
        height: 15px;
        border-width: thin;
    }

    .form-footer {
        display: flex;
        height: 80px;
        border-top: 2px solid rgba(0, 0, 0, 0.12);
        justify-content: flex-end;
        align-items: center;
    }

    .form-footer > .btn {
        margin: 0 10px;
    }

    .loader {
        position: fixed;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
    }

    .message-box {
        height: 20%;
        width: 30%;
        color: black;
        background: white;
        font-size: 25px;
        font-weight: bold;
        border-radius: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-farmer-image>label:before{
        content: 'Click Here';
        bottom: 12px;
        position: absolute;
        z-index: 1000;
        right: 0;
        /* display: flex; */
        width: 100%;
        background: rgba(0,0,0,0.65);
        color: white;
        text-align: center;
    }

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateX(300px);
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
</style>