<template>
    <div class="table-responsive">
        <table class="table table-dashboard">
            <thead>
            <tr>
                <th scope="col">Payment Name</th>
                <th scope="col">Date of Payment</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Transaction Amount</th>
                <th scope="col">Total Repayment</th>
                <th scope="col">Next Due Date</th>
            </tr>
            </thead>
            <tbody v-if="status !== 'operational'">
            <tr>
                <div class="no-record-found text-center mt-2">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0  60 60" xml:space="preserve">
                                                <path d="M36.5,22h-25c-0.6,0-1,0.4-1,1s0.4,1,1,1h25c0.6,0,1-0.4,1-1S37,22,36.5,22z M11.5,16h10c0.6,0,1-0.4,1-1s-0.4-1-1-1h-10
                                                c-0.6,0-1,0.4-1,1S10.9,16,11.5,16z M37.5,31c0-0.6-0.4-1-1-1h-25c-0.6,0-1,0.4-1,1s0.4,1,1,1h25C37,32,37.5,31.6,37.5,31z M29.5,39
                                                c0-0.6-0.4-1-1-1h-17c-0.6,0-1,0.4-1,1s0.4,1,1,1h17C29,40,29.5,39.6,29.5,39z M11.5,46c-0.6,0-1,0.4-1,1s0.4,1,1,1h14
                                                c0.6,0,1-0.4,1-1s-0.4-1-1-1H11.5z M2.5,2h29v14h14v15h2V14.6L32.9,0H0.5v60h37v-2h-35C2.5,58,2.5,2,2.5,2z M33.5,3.4L44.1,14H33.5
                                                V3.4z M59.2,58.3l-6-6.2c1.7-1.9,2.8-4.5,2.8-7.3c0-6-4.8-10.8-10.8-10.8s-10.8,4.8-10.8,10.8s4.8,10.8,10.8,10.8
                                                c2.4,0,4.7-0.8,6.5-2.2l6,6.3c0.2,0.2,0.5,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3C59.6,59.3,59.6,58.7,59.2,58.3z M36.5,44.8
                                                c0-4.8,3.9-8.8,8.8-8.8s8.8,3.9,8.8,8.8s-3.9,8.8-8.8,8.8S36.5,49.6,36.5,44.8z"/>
                                            </svg>
                    <p class="mt-3">No Record Found</p>
                </div>
            </tr>
            </tbody>
            <tbody v-else>
            <tr v-for="(payment,index) in getProjects">
                <!--{{index}}-->
                <th scope="col">{{ payment.payment_type !== 'advance'? payment.payment_type.toUpperCase() + '-' + index: payment.payment_type.toUpperCase()}}</th>
                <td>{{payment.paid_date}}</td>
                <td>{{payment.payment_gateway}}</td>
                <td>{{payment.amount}}</td>
                <td>
                    <div class="progress-wrap">
                        {{getTotal(index)}}
                        <div class="progress">
                            <span class="progress-green" :style="{width:getPercentage(index)+'%'}"></span>
                        </div>

                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr v-if="paymentData.payment_type">
                <!--{{index}}-->
                <th scope="col">{{ paymentData.payment_type !== 'advance'? paymentData.payment_type.toUpperCase() : paymentData.payment_type.toUpperCase()}}</th>
                <td>----</td>
                <td>----</td>
                <td>{{paymentData.amount}}</td>
                <td>
                    <div class="progress-wrap">
                        {{getWholeTotal()}}
                        <div class="progress">
                            <span class="progress-yellow" :style="{width:getTotPercentage()+'%'}"></span>
                        </div>

                    </div>
                </td>
                <td>
                    {{nextDueDate}}
                </td>
            </tr>
            </tbody>

        </table>
        <!--<p class="text-center">-->
            <!--<button class="btn btn-outline-primary" @click="loadMorePayment">Load more payment</button>-->
        <!--</p>-->
    </div>

</template>

<script>
  export default {
    props: {
      'id': {
        required: true
      },
      'projectcost': {
        required: true
      },
      'status': {
        required: true
      }
    },
    created(){
        this.getPaymentHistory();
        eventBus.$on('payment-refresh',this.getPaymentHistory)
    },
    mounted(){
        console.log('hello i am running')
    },
    data () {
      return {
        percentage: 0,
        total: 0,
        i: 1,
        payments: {},
        paymentData: {},
        paginateData:{},
        prevIndex:null,
        nextDueDate:'',
        loading: false
      }
    },
    methods: {
      getPaymentHistory () {
        axios.get('/ogbadmin/project/' + this.id + '/payment_history').then(res => {
          this.paymentData = res.data.paymentData
          this.payments = res.data.payments.data
          this.paginateData = res.data.payments
          this.percentage = 0
            this.total = 0
            this.i = 1
          this.nextDueDate = res.data.dueDate
        })
      },
      getTotal (index) {
        let tot=0;
            for(var i=0;i<=index;i++){
              tot = tot+this.payments[i].amount
            }
            return tot;
      },
      getPercentage (index) {
        let tot=0;
        for(var i=0;i<=index;i++){
          tot = tot+this.payments[i].amount
        }
        return (tot* 100) / this.projectcost;
      },
      getWholeTotal(){
        let tot = 0
        this.payments.forEach((payment)=>{
          tot = tot + payment.amount
        })
        this.total = tot
        return tot
      },
      getTotPercentage(){
        return (this.total * 100) / this.projectcost;
      },
      loadMorePayment(){
        // this.loading = !this.loading
        // axios.get(this.paginateData.next_page_url).then( res=> {
        //   // this.payments = res.data.payments.data
        //   this.payments = this.payments.concat(res.data.payments.data)
        //   this.paginate = res.data.payments
        //   this.loading = !this.loading
        // })
      }
    },
    computed: {

      getProjects(){
        return this.payments
      }
    }
  }
</script>

<style>

</style>