<template>
    <div class="popup success-popup" :class="[{'disp-none' : !show},color]" >
        <span class="title-popup" v-text="message"></span>
    </div>
</template>

<script>

    export default {
      name: '',
      created(){
        eventBus.$on('show-pop-up',this.showPopUp)
      },
      data(){
        return {
            message: '',
            show: false,
            color: ''
        }
      },
      methods: {
        showPopUp(data){
          console.log('hello');
            this.message = data.message
            this.color = data.color
            this.show = true
          // setTimeOut(this.hide(),5000)
          setTimeout( this.hide ,4000)
        },
        hide(){
          this.show = false;
        }
      }
    }

</script>

<style>
    .popup{
        display: flex;
        justify-content: center;
        align-items:center;
        position: fixed;
        top:10%;
        right:0%;
        animation: appearPopUp .3s ease-in;
        padding: 8px 25px;
        /*border-radius: 25px;*/
        z-index: 9;
    }
    .success-popup{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .error-popup{
        /*color: #856404;*/
        /*background-color: #fff3cd;*/
        /*border-color: #ffeeba;*/
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .disp-none{
        display: none!important;
    }

    .title-popup{
        font-size: 16px;
    }

    @keyframes appearPopUp {
        from {
            opacity: 0;
            transform: translateX(300px);
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
</style>