<template>
    <div class="collapse make-investment-tab show" id="collapseMakeInvestment">
        <div class="card card-body">
            <ul class="nav mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                       href="#pills-profile" role="tab" aria-controls="pills-profile"
                       aria-selected="false">Investment</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <form @submit.prevent="submit" method="POST" @keydown="errors.clear($event.target.name)">
                        <div class="form-group form-row">
                            <div class="col-md-6">
                                <label>
                                    <span>Enter Amount</span>
                                    <div class="enclosing-items"><input type="text" name="invest_amount"
                                                class="form-control" v-model="invest_amount"></div>

                                    <span class="help is-danger" v-text="errors.get('invest_amount')"
                                          v-if="errors.has('invest_amount')"></span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <span>Expected Interest</span>
                                    <div class="enclosing-items-right rate"><input type="text" name="interest_rate"
                                                                                         class="form-control" v-model="interest_rate"></div>
                                    <span class="help is-danger" v-text="errors.get('interest_rate')"
                                          v-if="errors.has('interest_rate')"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-md-6">
                                <label>
                                    <span>Terms (Months)</span>
                                    <div class="enclosing-items-right month"><input type="text" name="term" class="form-control" v-model="term"></div>
                                    <span class="help is-danger" v-text="errors.get('term')"
                                          v-if="errors.has('term')"></span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <span>Emi Contributor</span>
                                    <div class="enclosing-items"><input type="text" name="emi_contributor"
                                                                                         class="form-control" v-model="getEemiContributor" disabled="true"></div>
                                    <span class="help is-danger" v-text="errors.get('getEemiContributor')"
                                          v-if="errors.has('getEemiContributor')"></span>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="payment_id"
                               :value="payment_id">
                        <input type="hidden" name="payment_gateway" :value="payment_gateway">
                        <button class="btn btn-primary" type="submit" :disabled="isSubmitting || errors.any()">Submit
                        </button>
                        <button class="btn btn-primary pull-right btn-warning" style="float:right" type="button" @click="$emit('close')">Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  // action="{{route('ogbadmin.project.investment.store')}}"
  import Errors from '../ErrorHandling'

  export default {
    name: 'ProjectInvestment',
    props: {
      'payment_id': {
        required: true
      }
    },
    data () {
      return {
        invest_amount: '',
        interest_rate: '',
        term: '',
        emi_contributor: '',
        payment_gateway: 'cash',
        errors: new Errors(),
        isSubmitting: false
      }
    },
    methods: {
      submit (event) {
        console.log(event)
        var app = this
        this.isSubmitting = true
        axios.post('/ogbadmin/project/store-investment', {
          'invest_amount': this.invest_amount,
          'interest_rate': this.interest_rate,
          'term': this.term,
          'emi_contributor': this.emi_contributor,
          'payment_id': this.payment_id,
          'payment_gateway': this.payment_gateway
        }).then(res => {
          // alert(res.data.message);
          // this.$noty.success(res.data.message);
          this.isSubmitting = false
          this.formReset()
          eventBus.$emit('show-pop-up', {
            message: res.data.message,
            color: 'success-popup'
          })
          eventBus.$emit('investment-done')
          this.$emit('close');
        }).catch(err => {
          // console.log(this.$noty);
          // this.$noty.show('error')
          this.isSubmitting = false
          this.errors.record(err.response.data.errors)

          eventBus.$emit('show-pop-up', {
            message: 'Error occured',
            color: 'error-popup'
          })
        })
      },
      calculateEmiContributor () {
        if (this.interest_rate && this.invest_amount && this.term) {
          let rateOfInterest = ((this.interest_rate)/100) / 12
          console.log(typeof this.interest_rate, typeof this.term)
          let interestRateCalc = Math.pow((1 + rateOfInterest), parseFloat(this.term))
          let calc = interestRateCalc
          console.log(calc)
          this.calc = ((parseFloat(this.invest_amount) * rateOfInterest * calc) / (calc - 1)).toFixed(2)
          this.emi_contributor = !Number.isNaN(this.calc) ? this.calc : 0
          console.log(this.emi_contributor)
        }
      },
      formReset () {
        this.invest_amount = ''
        this.interest_rate = ''
        this.term = ''
        this.emi_contributor = 0
      },
    },
    computed: {
      getEemiContributor () {
        // let interestRateCalc = Math.pow((1 + this.interest_rate), this.term)
        // this.emi_contributor = [this.invest_amount * this.interest_rate * interestRateCalc] / [{interestRateCalc} - 1]
        // return [this.invest_amount * this.interest_rate * interestRateCalc] / [{interestRateCalc} - 1]
        return this.emi_contributor ? this.emi_contributor : 0
      }
    },
    watch: {
      invest_amount: function () {
        this.calculateEmiContributor()
      },
      term: function () {
        this.calculateEmiContributor()
      },
      interest_rate: function () {
        this.calculateEmiContributor()
      }
    }
  }
</script>

<style>
    .help {
        color: red;
    }
    /*.enclosing-items,.enclosing-items-right{*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*height: 100%;*/
    /*}*/
    /*.enclosing-items span,.enclosing-items-right span{*/
        /*background: white;*/
        /*padding: 8px;*/
        /*border: 1px solid #ced4da;*/
        /*margin: 0!important;*/
    /*}*/
    /*.enclosing-items span,.enclosing-items-right input{*/
        /*border-right: none;*/
        /*border-radius: .25rem 0 0 .25rem;*/
    /*}*/
    /*.enclosing-items input, .enclosing-items-right span{*/
        /*border-left: none;*/
        /*border-radius: 0 .25rem .25rem 0;*/
    /*}*/
    .enclosing-items,.enclosing-items-right {
        position: relative;
    }

    .rate::before {
        content: '%';
        position: absolute;
    }
    .month::before {
        content: 'months';
        position: absolute;
    }
    .enclosing-items-right::before {
        right: 15px;
        top: 10px;
        min-width: 12px;
    }
    .enclosing-items::before {
        content: 'Rs.';
        position: absolute;
        left: 15px;
        top: 10px;
        min-width: 12px;
    }
    .enclosing-items-right > input{
        padding-right:40px;
    }
    .enclosing-items > input {
        padding-left: 40px;
    }
</style>