<template>
    <div class="table-responsivle">
        <table class="table table-dashboard">
            <thead>
            <th>Date</th>
            <th>Summary</th>
            </thead>
            <tbody>
            <tr v-for="log in logs">
                <td>{{log.created_at}}</td>
                <td>{{log.description}}</td>
            </tr>
            </tbody>
        </table>
    </div></template>

<script>
    export default {
        props: {
            'id': {
                required: true
            }
        },
        data(){
            return {
                logs: {}
            }
        },
        created(){
          eventBus.$on('refresh',this.getLogs)
            this.getLogs();
        },
        methods: {
            getLogs(){
                axios.get('/ogbadmin/project/'+this.id+'/logs').then( res => {
                    console.log(res.data);
                    this.logs = res.data
                })
            }
        }

    }
</script>