<template>
    <div v-if="guidelineLength"><h6 class="mt-4 mb-3" v-show="guidelinesData.currentStatus !== 'plan' && guidelinesData.currentStatus !== 'new' && guidelinesData.currentStatus !== 'funding' && guidelinesData.currentStatus !== 'operational' ">Complete Your Process</h6>
        <div class="document-checklist" v-show="guidelinesData.currentStatus !== 'plan' && guidelinesData.currentStatus !== 'new' && guidelinesData.currentStatus !== 'funding' && guidelinesData.currentStatus !== 'operational'">
            <span v-show="isLoading"><i class="fa fa-circle-notch fa-spin fa-3x fa-fw" ></i>Processing !! please wait</span>
            <div v-for="(guideline,index) in guidelinesData.guideline">
                <div class="checklist-item-info d-flex align-items-center mb-3" :class="{'checked' : guideline.timeline_count}" @click="clickOnGuideline(guideline.id,index)" v-if="guideline.type==='check'||guideline.type==='automatic'">
                    <div class="checked-circle mr-3">
                        <i class="icon ion-md-checkmark"></i>
                    </div>
                    <p>{{guideline.guideline}}</p>
                </div>
                <div class="checklist-item-info d-flex align-items-center mb-3" :class="{'checked' : guideline.timeline_count}" v-if="guideline.type==='upload'">
                    <div class="checked-circle mr-3">
                        <i class="icon ion-md-checkmark"></i>
                    </div>
                    <p>{{guideline.guideline}}</p>
                </div>
            </div>
            <a href="#upload-document" class="btn btn-outline-primary" data-toggle="modal" v-if="guidelinesData.hasUploadable && !guidelinesData.fullfilledGuideline">
                Upload Documents</a>
            <button class="btn btn-outline-primary" @click="emitChangeStatus(guidelinesData.nextStatus)" v-if = "showFundingButton && role === '50'" :disabled="!isDeleted">
                Send For Funding</button>
            <button class="btn btn-outline-primary" @click="emitChangeStatus(guidelinesData.nextStatus)" v-if = "showInstallButton && role === '50'" :disabled="!isDeleted">
                Install Project</button>
            <button class="btn btn-outline-primary" @click="emitChangeStatus(guidelinesData.nextStatus)" v-if = "showMakeOperationalButton && role === '50'" :disabled="!isDeleted">
                Make Operational</button>
            <!--<button class="btn btn-outline-primary" @click="eventBus.$emit('refresh')" v-else>-->
            <!--Confirm</button>-->
        </div>
        <div class="form-group document-checklist" v-if="guidelinesData.currentStatus === 'new' && guidelinesData.currentStatus !== 'plan'">
            <h6 class="mt-4 mb-3">Project Checklist</h6>
            <div v-for="(guideline,index) in guidelinesData.guideline">
                <div class="checklist-item-info d-flex align-items-center mb-3"
                     :class="{'checked' : guideline.timeline_count }"
                     v-if="guideline.type==='check'"
                     >
                    <input @click="clickOnGuideline(guideline.id,index)"
                           style="{opacity:0; display:none; visibility:hidden}"
                           type="checkbox"
                           :value="guideline.id"
                           :id="'categoryCheck'+guideline.id"
                           v-model="checkBoxForNewProject"
                           :disabled="role !== '50' || deleted === '1'"
                    >

                    <label class="checked-circle mr-3" :for="'categoryCheck'+guideline.id">
                        <i class="icon ion-md-checkmark"></i>
                    </label>
                    <label :for="'categoryCheck'+guideline.id"><p>{{guideline.guideline}}</p></label>
                </div>

            </div>
            <!--<div class="form-check mt-2">-->
            <!--<input class="form-check-input" type="checkbox" value="" id="categoryCheck2">-->
            <!--<label class="form-check-label" for="categoryCheck2">-->
            <!--<div><i class="icon ion-md-checkmark"></i></div>-->
            <!--Review survey form’s data for accuracy and consistency-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="form-check mt-2">-->
            <!--<input class="form-check-input" type="checkbox" value="" id="categoryCheck3">-->
            <!--<label class="form-check-label" for="categoryCheck3">-->
            <!--<div><i class="icon ion-md-checkmark"></i></div>-->
            <!--Check uploaded documents and photos for legitimacy-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="form-check mt-2">-->
            <!--<input class="form-check-input" type="checkbox" value="" id="categoryCheck4">-->
            <!--<label class="form-check-label" for="categoryCheck4">-->
            <!--<div><i class="icon ion-md-checkmark"></i></div>-->
            <!--Check if projects have an acceptable credit score-->
            <!--</label>-->
            <!--</div>-->
            <button class="btn btn-primary mt-3" @click="clickOnNewProjectSubmit" v-if="!isLoading && role === '50'" :disabled="!isDeleted">Approve Project</button>
            <!--<button class="btn btn-primary mt-3" v-if="isLoading"><i class="fa fa-circle-notch fa-spin fa-3x fa-fw" ></i>Loading</button>-->
        </div>
        <div class="form-group document-checklist" v-if="guidelinesData.currentStatus === 'plan'">
            <h6 class="mt-4 mb-3">!!! Necessary documents not uploaded and the plan for the project still remains to be select.Please contact your Agent</h6>
        </div>
        <button class="btn btn-primary mt-3" v-if="isLoading"><i class="fa fa-circle-notch fa-spin fa-3x fa-fw" ></i>Loading</button>
    </div>
</template>

<script>
    export default {
        props:{
            'id': {
                required: true,
                },
          'role': {
              required:true,
                },
          'deleted': {
              required: true
          }
        },
        data(){
          return {
              guidelinesData: [],
              guidelineLength: null,
              checkBoxForNewProject: [],
              isLoading: false
          }
        },
        created(){
          eventBus.$on('refresh-guideline',this.refresh)
        },
        mounted(){
            this.getGuidelines()
        },
        methods: {
            isChecked(id,index) {
                if(typeof(this.checkBoxForNewProject[index]) === undefined){
                    return 0;
                }
                return id==this.checkBoxForNewProject[index]
            },
            clickOnGuideline( id, index ) {
                // this.isLoading =true;

              console.log(this.deleted === '1');
              if(this.role === '50' && this.deleted !== '1') {
                debugger;
                console.log('this is it', id, index)
                console.log('here i am incheck guideline', this.guidelinesData.guideline[index], index)
                this.guidelinesData.guideline[index].timeline_count = !this.guidelinesData.guideline[index].timeline_count
                axios.post('/ogbadmin/project/' + this.id + '/timeline/' + id).then(res => {
                  // this.guidelines = res.data
                  // this.getGuidelines()
                  // this.isLoading = !this .isLoading
                eventBus.$emit('refresh')
                //   this.getGuidelines();
                  // this.isLoading =false;
                }).catch(err => {
                  alert(err)
                  this.guidelinesData = []
                  this.guidelinesData.guideline[index].timeline_count = !this.guidelinesData.guideline[index].timeline_count
                  this.getGuidelines()
                })
              }
            },
            refresh(){
                this.getGuidelines();
            },
            getGuidelines(){
                // this.isLoading =true;
                axios.get('/ogbadmin/project/guidelines/'+this.id).then( res => {
                    console.log(res)
                    this.guidelinesData = res.data
                    this.guidelineLength = Object.keys(this.guidelinesData.guideline).length;
                    eventBus.$emit('statusemit',{
                        status:this.guidelinesData.currentStatus
                    })
                    this.isLoading =false;
                }).catch( err => {
                    // console.log(err.toString());
                  if(err.toString() === 'Error: Request failed with status code 404'){
                    eventBus.$emit('show-pop-up',{
                      message: 'Sorry this project has Been deactivated contact the admin',
                      color: 'error-popup'
                    })
                  }
                })
            },
            clickOnNewProjectSubmit(){
                this.isLoading =true;
                console.log("Guideline length "+ this.guidelineLength );
                console.log("CheckboxforNew Project length "+ this.checkBoxForNewProject.length );
                if(this.guidelineLength === this.checkBoxForNewProject.length) {
                    axios.post('/ogbadmin/project/' + this.id + '/new-status', {
                        guidelines: this.checkBoxForNewProject
                    }).then(res => {
                        console.log(res)
                        this.isLoading = false;
                        eventBus.$emit('refresh')
                      this.emitChangeStatus('approved');
                    }).catch(err => {
                        alert(err)
                    })
                }
                else{
                    // alert('most tick all boxes')
                  eventBus.$emit('show-pop-up', {
                    message: 'Please check all boxes to approve project !!!',
                    color: 'error-popup'
                  })
                  this.isLoading = false
                }
            },
            emitChangeStatus(status){
              this.isLoading = true;
                eventBus.$emit('change-status',{
                    'status': status
                })
            }
        },
      computed: {
          showInstallButton () {
            return (this.guidelinesData.fullfilledGuideline && this.guidelinesData.nextStatus === 'installed' && !this.isLoading)
          },
          showMakeOperationalButton () {
            return (this.guidelinesData.fullfilledGuideline && this.guidelinesData.nextStatus === 'operational' && !this.isLoading)
          },
        showFundingButton () {
          return (this.guidelinesData.fullfilledGuideline && this.guidelinesData.nextStatus === 'funding' && !this.isLoading)
        },
        isDeleted(){
            return this.deleted == '0'
        }
      }
    }
</script>

<style lang="scss">
    .document-checklist>div{
        cursor : pointer;
    }
    .checked i{
        height: 100%;
        display: flex!important;
        justify-content: center;
        align-items: center;
    }
    .checklist-item-info>label{
        
        cursor:pointer;
    }
</style>