<template>
    <div class="dropdown-menu pt-2 pb-2 mt-2 show">
        <div class="dropdown-item" v-for="status in availableStatus">
            <div :class="'status '+status.name" id="status"
                 @click="projectStatusValue(status.name)">{{ getDropDownStatusCapitalCased(status.name) }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            'id': {
                required: true,
            },
            'role': {
              required: true
            }
        },
        data(){
            return {
                availableStatus:[]
            }
        },
        created(){
            eventBus.$on('change-status',this.initiateChangeStatus);
            eventBus.$on('refresh',this.getAvailableStatus)
        },
        mounted(){
            this.getAvailableStatus()
        },
        methods:{
            getAvailableStatus(){
                axios.get('/ogbadmin/project/getAvailableStatus/'+this.id).then( res => {
                    this.availableStatus = res.data
                  console.log(this.availableStatus)
                }).catch( err => {
                    alert(err)
                })
            },
            projectStatusValue(status){
              if(this.role === '50' ) {
                axios.post('/ogbadmin/project/details/change_status', {
                  value: status,
                  id: this.id
                }).then(res => {
                  console.log('hello');
                  var projectStatus = document.getElementById('projectStatus');
                  projectStatus.className = '';
                  projectStatus.classList.add('status', status);
                  projectStatus.innerText = status;
                  eventBus.$emit('refresh-guideline');
                  eventBus.$emit('refresh')
                }).catch(err => {
                  alert(err)
                })
              }
            },
            initiateChangeStatus(value){
                this.projectStatusValue(value.status);
            },
          getDropDownStatusCapitalCased (status) {
            return status ? (status.charAt(0).toUpperCase() + status.slice(1)) : ''
          }
        }
    }
</script>

<style>
.dropdown-menu{
    position:absolute;
    top:100%;
}

</style>