<template>
    <div class="container">
        <div class="row">
            <div class="large-12 medium-12 small-12 filezone">
                <input type="file" :name="fileName" id="files" ref="files" multiple v-on:change="handleFiles(fileName)"/>
                <p>Drop your files here <br>or click to search</p>
            </div>


            <div v-for="(file, key) in files"   class="file-listing clearfix">

                <div v-if ="file.id >0  && file.file_name!== undefined">
                    <div v-if ="file.file_type != 'png' && file.file_type != 'jpg' && file.file_type != 'jpeg' && file.file_type != 'gif'">
                        <img class="preview" v-bind:src="'/offgrid-bazaar/images/generic.png'"/>
                        {{file.actual_file_name}}
                    </div>
                    <div v-else>
                        <img class="preview" v-bind:src="relativePath(file.file_name,file.file_location)"/>
                        {{file.actual_file_name}}
                    </div>

                </div>
                <div v-else>
                    <img class="preview" v-bind:ref="'preview'+parseInt(key)"/>
                    {{file.name }}
                </div>
                <div class="remove-container">
                    <a class="remove" v-on:click="removeFile(key)">Remove</a>
                </div>

            </div>

        </div>
    </div>
</template>
<script>
    export default {
      props: ['input_name', 'post_url','fileName'],
      data: function() {
        return {
          files: [],
          filename: null,
        }
      },
      mounted(){
        // vm = this;
        // this.fetchFiles({{$project->id}}).then(data => {
        //   Object.entries(data.uploads).map(files => {
        //     if(this.fileName === files[1].upload_attribute_key){
        //       this.files.push(files[1]);
        //     }
        //
        //   })
        // });

      },
      methods: {
        fetchFiles(projectId){
          return axios.get(`/project/file/get/${projectId}`).then(response => response.data);
        },
        removeFile(key){
          this.deleteFile(key);
          this.files.splice(key, 1);
          this.getImagePreviews();
        },

        deleteFile(key){
          var uploadId =this.files[key].id;
          if (typeof uploadId === 'undefined') {
            alert("file couldnot be deleted due to unknown reasons");
          }
          axios.get('/project/file/delete/'+uploadId)
            .then(function (response){
              if(response.status!== 200){
                alert("file couldnot be deleted due to unknown reasons");
              };
            });
        },
        handleFiles(fileName) {
          let uploadedFiles = this.$refs.files.files;
          for(var i = 0; i < uploadedFiles.length; i++) {
            if (!(/.(jpe?g|png|gif|bmp|doc*|xls*|pdf|text)$/i.test(uploadedFiles[i].name))) {
              alert("please upload the files with extension jpg,jpeg,png,bmp,doc,docx,xls,pdf,txt");
              continue;
            }
            this.files.push(uploadedFiles[i]);
          }
          this.getImagePreviews();
          this.submitFiles(fileName)
        },
        getImagePreviews(){
          for( let i = 0; i < this.files.length; i++ ){
            if (/.(jpe?g|png|gif)$/i.test(this.files[i].name)) {
              let reader = new FileReader();
              reader.addEventListener("load", function(){
                this.$refs['preview'+parseInt(i)][0].src = reader.result;
              }.bind(this), false);
              reader.readAsDataURL( this.files[i]);
            }else{
              this.$nextTick(function(){
                this.$refs['preview'+parseInt(i)][0].src ="{{asset('/offgrid-bazaar/images/generic.png')}}";
              });
            }
          }
        },
        submitFiles(fileName) {
          // for( let i = 0; i < this.files.length; i++ ){
          //   if(this.files[i].id) {
          //     continue;
          //   }
          //   let formData = new FormData();
          //   formData.append(fileName, this.files[i]);
          //   axios.post('/' + this.post_url + '{{$project->id}}',
          //     formData,
          //     {
          //       headers: {
          //         'Content-Type': 'multipart/form-data'
          //       }
          //     }
          //   ).then(function(data) {
          //     this.files[i].id = data['data']['id'];
          //     this.files.splice(i, 1, this.files[i]);
          //   }.bind(this)).catch(function(data) {
          //     console.log("error");
          //   });
          // }
        },
        relativePath: function(name,location){
          let app_url = window.location.hostname;
          let port = window.location.port;
          let return_url = '';
          let splitted_location = location.split("/")
          let splitted_length = splitted_location.length;
          port === '' ? return_url = `http://${app_url}/storage/${splitted_location[splitted_length-2]}/${name}`: return_url = `http://${app_url}:${port}/storage/${splitted_location[splitted_length-2]}/${name}`;
          return return_url;
        }

      }
    }
</script>
<style>
    body {
        margin: 0;
        font-size: 14.08px;
        font-family: "Fira Sans";
    }

    #myChart {
        height: 100% !important;
        width: 100% !important;
    }

    .title {
        font-size: 5vh;
        padding: 3vh 0vw;
        box-sizing: border-box;
        border-bottom: 1px solid gray;
    }

    .pumping-solutions {
        margin: 8vh 0;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .pumping-solutions-title {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid gray;
        box-sizing: border-box;
    }

    .pumping-indicator {
        display: flex;
        align-items: center

    }

    .pumping-icon {
        margin: 0 5px;
        height: 3px;
        width: 8px;
        background: blue;
    }

    .selection-area {
        text-align: center
    }

    .selection-area-title {
        font-size: 4vh;
    }

    .packages {
        margin: 5vh 0;
    }

    .package {
        width: 23%;
        position: relative;
    }

    .checkbox-area {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 16px;
        top: 16px;
        border-radius: 50%;
        border: 1px solid gray;
    }

    .package-id {
        margin: 10px 0;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .package-name {
        font-size: 4vh;
        font-weight: bolder;
    }

    .package-descriptions {
    }

    .package-description {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .package-description-amount {
        font-weight: bolder;
    }

    .total-amount {
        font-size: 5vh;
        font-weight: bolder;
        margin: 10px 0;
    }

    .description {
        margin: 10px 0;
    }

    .custom-space {
        margin-top: 25px;
    }

    @media screen and (min-width: 769px) {
        .select-plan-div > div:first-child {
            /*margin-left: 140px;*/
        }
    }

    @media screen and (max-width: 768px) {
        .pricingtable {
            padding: 20px;
        }
    }

    .packages {
        display: flex;
        justify-content: space-between;
    }

    .package {
        width: 23%;
    }

    .checked-icon-holder {
        position: absolute;
        color: #4CD964;
        width: 100%;
        /* left: 0; */
        left: unset;
        right: 10px;
        text-align: right;
        top: 10px;
        font-size: 35px;
    }

    h2 {
        font-weight: 400;
    }

    input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }

    .filezone {
        outline: 2px dashed grey;
        outline-offset: -10px;
        background: #fff;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
        margin: 10px 0 0 0;
        width: 95%;
    }

    .filezone:hover {
        background: #c0c0c0;
    }

    .filezone p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }

    div.file-listing img {
        max-width: 90%;
    }

    div.file-listing {
        margin: auto;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        width: 95%;
    }

    div.file-listing img {
        height: 100px;
    }

    div.success-container {
        text-align: center;
        color: green;
    }

    div.remove-container {
        text-align: center;
        float: right;
    }

    div.remove-container a {
        color: red;
        cursor: pointer;
    }

    a.submit-button {
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        padding: 10px;
        text-transform: uppercase;
        background-color: #CCC;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }

    .pricing li {
        display: flex;
        justify-content: space-between;
    }
</style>