#map {
     height: 700px;
     width: 100%;
 }

.hero-section{
	position: absolute;
	background-color: rgba(0,0,0,.8);
	float: left;
	z-index: 1;
	margin-top: 2.8rem;
	color: #fff;
	border-radius: 0 4px 4px 0;
	overflow: auto;
}

.dashboard-hero{
	background-color: rgba(255,255,255,1);
	color: #000;
	box-shadow: 4px 2px 8px 0 rgba(0,0,0,0.1);
/*	min-height: 500px;
	height: 620px;*/
}


.projects{
	/*height: 500px;*/
	overflow: auto;
}

.nopadding{
	 padding: 0 !important;
}

.container{
	position: relative;
}

.hero-title{
	font-size: 2.6rem;
	font-weight: lighter;
	padding-bottom: 1rem;
}

.hero-text{
	font-weight: lighter;
	padding-bottom: 3rem;
}

.hero-info{
	padding: 3.4rem;
}

.login-text{
	position: relative;
    z-index: 1;
    overflow: hidden;
}

.login-text:before, .login-text:after{
	position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #fff;
}

.login-text:before{
	margin-left: -54%;
    text-align: right;
}

.login-text:after{
	margin-left: 4%;
	text-align: left;
}

.login-section .btn	{
	margin-top: 2rem;
}

.hero-heading{
	color: #4A4A4A;
	padding: 1.7rem;
	position: relative;	
}

.hero-header{
	position: relative;
}

.hero-header .collapse{
	position: relative;
	left: 0;
	width: 100%;
}

.dashboard-titlebar{
	position: relative;
	z-index: 1;
	box-shadow: 2px 2px 4px 0 #e2e2e2;
}

.single-project{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
	border-bottom: 1px solid #EDEDED;
	cursor: pointer;
}


.single-project:hover{
  background-color: #f0f0f0;
}

.project-info .name{
	font-weight: bold;
}

.project-info .description .budget{
	font-weight: bold;
}

.project-info .description{
	color: #727272;
}

.status{
	font-weight: bold;
}

.status.funded{
	color: #7ADB77;
}

.status.new{
	color: #FFA30A;
	
}

.status.not-funded{
	color: #D0011B;	
}

.project-status .description{
	color: #757575;
	font-size: 12px;
}

.medium-icon{
	font-size: 2rem;
	color: #727272;
	padding-top: 1.8rem;
	padding-right: 2rem;
}

.newest-project{
	background-color: #FFF2DD;
}

.top-notification.alert-success{
	color: #fff;
	background-color: #7ADB77;
	border: 1px solid #4CAF50;
}

.top-notification{
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	padding-left: 4rem;
	padding-right: 4rem;
	text-align: center;
}

.cta_holder{
	margin-left: 1.7rem;
	margin-right: 1.7rem;
        margin-bottom: 25px;
}

.icon-favourite.project-fav{
	padding-left: 0.6rem;
	color: #F8E81C;
}

.funding-available{
	background-image: url('../images/indicator-available.png');
	background-repeat: no-repeat;
	background-position: 0.5rem 2.5rem;
}

.funding-funded{
	background-image: url('../images/indicator-funded.png');
	background-repeat: no-repeat;
	background-position: 0.5rem 2.5rem;
}

.well{
	border: none !important;
	box-shadow: none !important;
}

.light{
	color: #727272;
}

.filter_action_holder{
	margin-top: 2rem;
	margin-bottom: 3rem;
}


.left{float: left;}
.right{float: right;}
