

.form-container-project{
    background-color: #fbfbfb;
}

.form-container-project .form-heading{
    border-bottom: 2px solid #fff;
}
 

    .form-container-project .col-sm-12 h1, .form-container-project .col-sm-12 h4{
        font-weight: normal;
    }

    h1 .sl-text , h4 .sl-text{
        display: inline-block;
        font-size: 90%;
    }

 div.form-container-project form label{
  color: #363636; 
  font-size: 14px;
}

 .sl-text{
  color: #787777;
  margin: 5px 0 0 0;
  display:block;

}

td.no-crops{
    padding: 3px 8px 16px !important; 
}

.no-cattle, .no-incomesource, .no-expense, .no-crops,.no-lands{
    padding: 3px 8px 16px !important;
    background-color:whitesmoke;
}

.form-container-project .table h4{
    font-weight: normal;
    /*background-color: #f3f3f3;*/
    padding: 10px;
}   

.form-container-project .table h4 span{
    font-size: 16px;
}

.form-container-project .table small{
    font-weight: bold;
}

.form-container-project tbody tr td{
    vertical-align: middle !important;
}

.create_crop .btn {
    
    margin-top: 32px !important;
}
