@font-face {
  font-family: 'ghampani';
  src:  url('../fonts/ghampani.eot?fpgd8k');
  src:  url('../fonts/ghampani.eot?fpgd8k#iefix') format('embedded-opentype'),
    url('../fonts/ghampani.ttf?fpgd8k') format('truetype'),
    url('../fonts/ghampani.woff?fpgd8k') format('woff'),
    url('../fonts/ghampani.svg?fpgd8k#ghampani') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ghampani' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-developer:before {
  content: "\e900";
}
.icon-energy:before {
  content: "\e901";
}
.icon-favourite-line:before {
  content: "\e902";
}
.icon-favourite:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e904";
}
.icon-investment:before {
  content: "\e905";
}
.icon-investor:before {
  content: "\e906";
}
.icon-project:before {
  content: "\e907";
}
.icon-roi:before {
  content: "\e908";
}
.icon-share:before {
  content: "\e909";
}
.icon-water:before {
  content: "\e90a";
}

.icon-contact:before {
  content: "\e90c";
}

.icon-done:before {
  content: "\e90b";
}


















.hide {
	display: none;
}


h1, h2, h3, h4 {
	font-weight: 300
}

.col-centered {
	float: none !important;
	margin: 0px auto;
}

.toplogo {
	height: 70px;
}

.stat {
	float: left;
	margin: 18px 10% 0 0;
	padding-left: 30px;
}

.stat h4 {
	margin: 0px;
}

.stat h1 {
	font-weight: 100;
}

.stat i {
	margin-left: -45px;
	color:#4486F9;
}

.stat.small i {
	margin-left: -25px;
	color:#4CD964;
}

.btn {
	font-size: 13px;
	padding: 5px;
}

.btn i {
	margin-right: 5px;
}

.btn-group .btn {
	transition: width 2s;
	outline: 0px;
}











.msg {
	line-height: 166%;
	font-weight: 400;
	font-size: 18px;
}


.light {
	opacity: 0.6;
}

.topright {
	padding-top: 25px;
}


.maincontent {
	padding: 30px 0;
}

.topnav {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.topnav a {
	display: inline-block;
	padding: 16px;
	text-decoration: none;
	color:#666;
}

.topnav a.active {
	border-bottom: 2px solid red;
	margin-bottom: -2px;
	color:#000;
	font-weight: bold;
}

.sep {
	display: inline-block;
	width: 30px;
}

.top-cta-buttons {
	padding-top: 25px;
}




@media only screen and (max-width: 500px) {
	.stat {
		display: none;
	}


	.topnav {
		overflow-x: hidden;
		width: 100%;
	}

	.topnav a {
		float: left;
		width: auto;
		text-align: center;
	}

}










.label-success, .label-info, .label-default {
	font-size: 12px;
	font-weight: normal;
	position: relative;
	top: -5px;
	margin-left: 10px;
}

.well {
	padding: 30px;
	margin: 20px 0;
	background-color: #FFF;
	box-shadow: 0 10px 20px #EEE;
}

.well h4, h4.bold {
	margin-top: 0px;
	font-weight: bold;
}

.well p.lead, .well table {
	margin-bottom: 0px;
}

thead td {
	font-weight: bold;
}


.pricingtable {
	text-align: center;
	cursor: pointer;
}

.pricingtable.active {
	border: 1px solid #4CD964;
	background-color: #F2FAF2;
}

.pricing {
	margin: 0px;
	padding: 0px;
}
.pricing li {
	list-style: none;
	text-align: left;
	padding: 12px 0;
	border-bottom: 1px solid #DDD;
}

.pricing span.text-right {
	font-weight: bold;
	float: right;
}

.pricing_buttons {
	padding: 20px auto;
}



.create_crop label {
	font-size: 11px;
	font-weight: normal;
}

.create_crop .form-control {
	height: 40px;
}

.create_crop .btn {
	height: 40px;
	padding-top: 10px;
	margin-top: 26px;
}


td.no-crops {
	padding: 40px 0 !important;
}





@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.analyzer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.8);
}

.spinner {
	margin-top: 20%;
	width: 80px;
	-webkit-animation: rotating 2s linear infinite;
}

