@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');

body, html {
	font-family: 'Fira Sans', sans-serif;
}

body {
	font-size: .88rem;
	color: #223741;
}
.form-control {
	padding: .5rem 1rem;
	font-size: .88rem;
}
.required {
	display: inline;
	color: #EF5350;
}

strong {
	font-weight: bold;
}

.container {
	max-width: 100%;
}

@media (min-width: 1200px) {
	.container {
		max-width: 100%;
	}
}

.container-full {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container-full .row, .container-full div[class^="col-"] {
	margin: 0;
	padding: 0;
}

div, input, select, .text-muted {
	font-weight: 300;
}
.text-muted {
	color: #9FAAB7 !important;
}

label {
	display: block;
	width: 100%;
}

.dim {
	opacity: 0.7;
}

.bold {
	font-weight: 500;
}

small {
	font-weight: 300;
}

small.tiny {
	font-size: 0.7rem;
}

label.small {
	font-weight: 400 !important;
	padding-top: 3px;
}

.form-check {
	padding-left: 26px;
}
.form-check input {
	display: none;
}
.form-check label > div i {
	font-size: 16px;
	line-height: 1;
	opacity: 0;
}
.form-check label div {
	position: absolute;
	top: 50%;
	left: 0;
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	text-align: center;
	transform: translateY(-50%);
}
.form-check input:checked+label div i {
	opacity: 1;
	color: #007BFF;
}
.form-check input:checked+label div {
	border: 1px solid #007BFF;
}

/* Progress */
.progress-wrap {
	position: relative;
}
.progress-wrap.dropdown-toggle::after {
	display: none;
}
.progress {
	background: #EFF2F7;
	position: relative;
	display: flex;
	height: 16px;
	width: 100%;
	min-width: 120px;
	border-radius: 100px;
	overflow: hidden;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}
.progress-details-card .progress {
	cursor: default;
}
.emi-terms .progress {
	max-width: 80px;
	min-width: auto
}
.progress span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}
.progress-blue {
	background-color: #03A9F4;
}
.progress-primary {
	background-color: #007BFF;
}
.progress-green {
	background-color: #66BB6A;
}
.progress-orange {
	background-color: #FF8C63;
}
.progress-purple {
	background-color: #C979DB;
}
.progress-yellow {
	background-color: #FFB300;
}
.progress-red {
	background-color: #EF5350;
}
.progress-grey {
	background-color: #C0CCDA;
}
.progress-wrap .dropdown-menu {
	min-width: 300px;
	font-size: 0.88rem;
}
.progress-wrap .dropdown-item .progress {
	min-width: auto;
}
.progress-wrap .dropdown-menu[x-placement^="top-start"] {
	margin: 0 0 10px 0;
}
.progress-wrap .dropdown-menu[x-placement^="top-start"]::before,
.progress-wrap .dropdown-menu[x-placement^="top-start"]::after {
	position: absolute;
	bottom: -20px;
	top: auto;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
}

.progress-wrap .dropdown-menu[x-placement^="top-start"]::before {
	bottom: -21px;
	top: auto;
	border-bottom-color: transparent;
	border-top-color: #C0CCDA;
}


label {
	display: block;
}
label span {
	display: block;
	margin-bottom: 6px;
}

.btn {
	border-radius: 3px;
}

.btn-outline-primary, .btn-outline-secondary {
	background-color: #FFF;
}

.close {
	transform: scale(1.4);
	position: relative;
	margin: -25px;
}

.table-wrapper {
	width: 100%;
}
.table-dashboard {
	overflow: hidden;
}

.user-thumbnail {
	background: #007BFF;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

span.user-thumbnail {
	line-height: 40px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

table.table {
	min-width: 960px;
}

table.table-stats td {
	padding-left: 0;
	padding-right: 0;
}

table.table-stats h5 {
	margin: 0;
	padding-left: 12px;
}

table.table-stats tr td:nth-child(odd) {
	text-align: right;
}

table.table-stats tr:first-child td {
	border-top: none;
	padding-top: 0;
}
table.table-stats tr:last-child td {
	padding-bottom: 0;
}

.table thead th {
	border-top: 0;
	font-size: 13px;
	font-weight: normal;
	color: #9FAAB7;
}
.table th, .table td {
	vertical-align: middle;
	padding: 1rem .75rem;
}

.dropdown-menu {
	border: 1px solid #C0CCDA;
	margin-top: 10px;
	border-radius: 2px;
	/* padding: 16px 0; */
	font-size: 0.88rem;
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
}
.dropdown-menu::before,
.dropdown-menu::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.dropdown-menu::before {
	top: -21px;
	border-bottom-color: #C0CCDA;
}
.dropdown-menu.dropdown-menu-right::before,
.dropdown-menu.dropdown-menu-right::after {
	left: auto;
	right: 20px;
	display: none;
}


@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 791px) {
}




/* Header */
header {
	background-color: #FFF;
	min-height: 80px;
}
.navbar-brand img {
	min-height: 40px;
}
header .form-group {
	margin-bottom: 0;
}

/* Notification */
.header-notification .navbar-nav-link,
.header-user .navbar-nav-link {
	position: relative;
	color: #9FAAB7;
	font-size: 24px;
	display: block;
}

.header-notification .navbar-nav-link:after,
.header-user .navbar-nav-link::after {
	display: none;
}

.header-notification .navbar-nav-link span {
	position: absolute;
	top: 2px;
	right: -5px;
	height: 12px;
	width: 12px;
	color: #ffffff;
	font-size: 14px;
	background-color: #EF5350;
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: block;
	text-align: center;
	text-indent: -99999px;
}
.header-notification .dropdown-menu {
	min-width: 320px;
	left: auto;
	right: -20px;
	font-size: 14px;
}
.header-notification .dropdown-menu::before,
.header-notification .dropdown-menu::after {
	right: 15px;
	left: auto;
}
.header-notification .notification-wrap {
	overflow: hidden scroll;
	max-height: 220px;
}
.header-notification .dropdown-item {
	white-space: normal;
}
.header-notification .dropdown-item small {
	position: absolute;
	top: 0;
	right: 0;
}

/* Header Search */
.navbar-nav .header-search-bar {
	position: relative;
}
.navbar-nav .header-search-bar {
	width: 400px;
}
.navbar-nav .header-search-bar button {
	position: absolute;
	right: 0;
	top: 50%;
	padding: 0 16px;
	height: 100%;
	font-size: 24px;
	color: #9FAAB7;
	transform: translateY(-50%);
}
@media (max-width:768px) {
	.navbar-nav .header-search-bar {
		width: 250px;
	}
}

/* Header User */
.navbar-nav .header-user a {
	color: #5E656D;
	text-decoration: none;
}
.navbar-nav .header-user a:hover {
	color: #223741;
}
.navbar-nav .header-user i {
	font-size: 20px;
}
.navbar-nav .nav-item .avatar {
	width: 36px;
	height: 36px;
}
.navbar-nav .header-user .dropdown-menu {
	right: 0;
	left: auto;
	min-width: 200px;
}
.navbar-nav .header-user .dropdown-menu::before,
.navbar-nav .header-user .dropdown-menu::after {
	left: auto;
	right: 20px;
}


/* Sidebar */
@media (min-width: 1200px) {
	.bd-sidebar {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
}

/* Login */
.box-wrap {
	max-width: 400px;
	padding: 50px;
	margin: 2rem auto 0;
	box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Verify Mobile Number */
.verify-mobile-number .form-control {
	background-color: #F0F2F5;
	min-height: 48px;
	text-align: center;
	border: 1px solid #C0CCDA;
}



/* Status */
.status {
	position: relative;
}
.status::before {
	content: '';
	display: inline-block;
	border-radius: 100%;
	margin-right: 10px;
	width: 8px;
	height: 8px;
	background-color: #9FAAB7;
}
.status.active {
	color: #66BB6A;
}
.status.active::before {
	background-color: #66BB6A;
}
.status.deactive {
	color: #9FAAB7;
}
.status.deactive::before {
	background-color: #9FAAB7;
}
.status.pending {
	color: #FFB300;
}
.status.pending::before {
	background-color: #FFB300;
}
.status.error {
	color: #EF5350;
}
.status.error::before {
	background-color: #EF5350;
}
.status.new {
	color: #007BFF;
}
.status.new::before {
	background-color: #007BFF;
}



/* Nav Link */
.nav-link {
	display: flex;
	align-items: center;
	color: #223741;
}
.nav-link.active,
.nav-link:hover,
.nav-link.active i,
.nav-link:hover i {
	color: #007BFF;
}
.nav-item {
	margin-bottom: 1rem;
}
.nav-item:last-child {
	margin-bottom: 0;
}

.nav-link i {
	margin: 0 10px 0 0;
	color: #9FAAB7;
	font-size: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

/* Action */
.action .resend-email a,
.action .edit a {
	display: block;
	padding: 0 16px;
	color: #9FAAB7;
}
.action .resend-email a:hover,
.action .edit a:hover {
	color: #007BFF;
}
.action i {
	font-size: 24px;
	line-height: 1;
}

/* Switch */
.checkbox-container {
	position: relative;
	padding: 0 0 0 16px;
}
.checkbox-container input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}
.checkbox-container label {
	background-color: #C0CCDA;
	border: 1px solid #fff;
	border-radius: 20px;
	margin: 0;
	display: block;
	position: relative;
	transition: all 0.3s ease-out;
	width: 40px;
	height: 24px;
	z-index: 2;
	cursor: pointer;
}
.checkbox-container .active-circle, .checkbox-container input:checked + label {
	background-color: #007BFF;
}
.checkbox-container input:disabled label,
.checkbox-container input:disabled + label {
	background-color: #EFF2F7;
	cursor: not-allowed;
}
.checkbox-container label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	transform: translateX(0);
	transition: transform 0.25s ease;
	width: 18px;
	height: 18px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	z-index: 3;
}
.checkbox-container input:checked + label::after {
	transform: translateX(calc(100% - 2px));
}


/* Project Vitals */
.additional-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
	color: #9FAAB7;
}
.additional-info > div {
	margin-right: 1.5rem;
	line-height: 1;
}
.additional-info > div:last-child {
	margin-right: 0;
}
.additional-info i {
	font-size: 1rem;
	width: 16px;
	height: 16px;
	line-height: 1;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}
.additional-info .credit-score {
	font-weight: bold;
}
.additional-info .credit-score img {
	position: relative;
	bottom: 3px;
	width: 24px;
	margin-right: 10px;
}


/* Filter Bar */
.filter-bar {
	background: #EFF2F7;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 10px 0;
	width: 100%;
	z-index: 999;
}
.filter-bar .form-group:last-child {
	margin-bottom: 0;
}
.filter-bar .btn-filter {
	background-color: #fff;
	border: 1px solid #C0CCDA;
	height: 38px;
	font-size: 14px;
	color: #223741;
}
.filter-bar button.btn i {
	font-size: 20px;
	line-height: 1;
}
.filter-bar .filter-search {
	position: relative;
}
.filter-bar .filter-search button {
	background: transparent;
	position: absolute;
	top: 50%;
	right: 16px;
	border: 0;
	padding: 0;
	height: auto;
	transform: translateY(-50%);
}
.filter-bar .filter-search button i {
	font-size: 24px;
	line-height: 1;
	color: #9FAAB7;
}

/* Filter Dropdown */
.filter-dropdown {
	background: #fff;
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	padding: 16px;
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	z-index: 999;
}
.filter-dropdown::before,
.filter-dropdown::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 50px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.filter-dropdown::before {
	top: -21px;
	border-bottom-color: #C0CCDA;
}
.filter-dropdown .row {
	min-width: 700px;
}
.filter-dropdown .form-check input {
	display: none;
}
@media (max-width: 768px) {
	.filter-bar .btn-filter {
		display: block;
		width: 100%;
	}
	.filter-bar .filter-dropdown {
		position: relative;
		top: 10px;
	}
	.filter-dropdown .row {
		width: auto;
		min-width: auto;
	}
}

/* Credit Score */
.credit-score i {
	margin-left: 3px;
	font-size: 18px;
	color: #FFAE4B;
}
.credit-score span {
	font-size: 13px;
	color: #9FAAB7;
	margin-bottom: 0;
}
.credit-score .text-muted {
	color: #C0CCDA !important;
}

/* Info Cards */
.info-card {
	border: 1px solid #C0CCDA;
	border-bottom: 2px solid transparent;
	padding: 16px 24px;
}
.info-card .description {
	color: #9FAAB7;
}
.info-card i {
	font-size: 32px;
}
.info-card img {
	height: auto;
}
.card-green {
	color: #66BB6A;
	border-bottom-color: #66BB6A;
}
.card-orange {
	color: #FF8C63;
	border-bottom-color: #FF8C63;
}
.card-blue {
	color: #007BFF;
	border-bottom-color: #007BFF;
}
.card-light-blue {
	color: #03A9F4;
	border-bottom-color: #03A9F4;
}
.card-dark {
	color: #223741;
	border-bottom-color: #223741;
}
.card-grey {
	color: #223741;
	border-bottom-color: #C0CCDA;
}

/* Chart */


/* Investment */
.user-details {
	background: rgba(238, 241, 246, 0.2);
	position: relative;
	margin-bottom: 16px;
	border: 1px solid rgba(192, 204, 218, 0.3);
	border-radius: 2px;
	padding: 16px 0;
}
.user-details .clear {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5rem;
	color: #9FAAB7;
}
.user-details .clear:hover {
	color: #EF5350;
}
.user-details .user-info {
	margin-bottom: 16px;
	border-bottom: 1px solid #EFF2F7;
	padding: 0 16px 16px;
}
.user-details .user-info:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.user-details .user-info span {
	display: block;
	margin-bottom: 5px;
	color: #9FAAB7;
}

/* Edit Partners */
.partner-details-card {
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	padding: 30px 0;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)
}
.partner-details-card .partner-info {
	padding: 0 30px 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #EFF2F7;
}
.partner-details-card .partner-info:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.partner-details-card .partner-info span {
	display: block;
	color: #9FAAB7;
}
.thumb-upload-wrapper .browse{
	background-color: #EFF2F7;
	position: relative;
	overflow: hidden;
	width: 96px;
	height: 96px;
	border: 1px dashed #C0CCDA;
	border-radius: 50%;
	cursor: pointer;
}
.thumb-upload-wrapper .browse .edit {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 4px 0;
	color: #fff;
	text-align: center;
}
.thumb-upload-wrapper input {
	display: none;
}
.thumb-upload-wrapper .browse > i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	line-height: 1;
	color: #9FAAB7;
	transform: translate(-50%, -50%);
}

/* Auto Search */
.auto-search-group {
	position: relative;
}
#autoSearchField:focus + .dropdown-menu {
	display: block;
	width: 100%;
}
.auto-search-group .auto-search-wrap {
	max-height: 300px;
	overflow: hidden scroll;
}
.auto-search-group .user-thumbnail {
	width: 36px;
	height: 36px;
	line-height: 36px;
}
.auto-search-group .user-id,
.auto-search-group .user-location {
	margin-right: 16px;
	color: #5E656D;
}
.auto-search-result .user-details .user-meta strong,
.auto-search-result .user-details .user-meta i {
	color: #9FAAB7;
	margin-right: 5px;
}

/* Project Document Files */
.document-card {
	border: 1px solid #C0CCDA;
	padding: 16px 24px;
	cursor: pointer;
}
.document-card i {
	font-size: 24px;
	line-height: 1;
	color: #EF5350;
}
.document-card .document-title {
	font-size: 1rem;
}
.document-card .description {
	color: #9FAAB7;
}
.document-card.upload-document {
	border-style: dashed;
}
.document-card.upload-document i {
	color: #9FAAB7;
}



/* File Upload */
.upload-wrapper {
	border: 1px dashed #C0CCDA;
	border-radius: 3px;
	padding: 30px;
}
.upload-wrapper input {
	display: none;
}
.upload-wrapper i {
	font-size: 60px;
	line-height: 1;
	color: #C0CCDA;
}

.document-wrapper ul {
	list-style: none;
	margin: 0;
	border: 1px solid #EFF2F7;
	padding: 0;
}
.document-wrapper ul li {
	position: relative;
	border-bottom: 1px solid #EFF2F7;
	padding: 16px 40px 16px 16px;
}
.document-wrapper ul li:last-child {
	border-bottom: 0;
}
.document-wrapper ul li .delete {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 1.5rem;
	line-height: 1;
	color: #9FAAB7;
}
.document-wrapper ul li .delete:hover {
	color: #EF5350;
}
.document-wrapper .success-icon {
	font-size: 50px;
	line-height: 1;
	color: #66BB6A;
}
.document-wrapper .file-description strong {
	font-size: 1rem;
}

/* Make Investment Collapsible Tab */
.make-investment-tab .card-body {
	background-color: #EFF2F7;
	position: relative;
	border: 0;
}
.make-investment-tab .card-body::before {
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #EFF2F7;
	height: 16px;
	width: 16px;
}
.make-investment-tab .card-body .nav {
	border-bottom: 1px solid #C0CCDA;
}
.make-investment-tab .card-body .nav .nav-item {
	position: relative;
	margin-bottom: 0;
}
.make-investment-tab .card-body .nav .nav-item .nav-link {
	position: relative;
}
.make-investment-tab .card-body .nav .nav-item .nav-link.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #007BFF;
}

/* User Thumbnail */
.information .user-thumbnail,
.information .user-thumbnail img {
	width: 100%;
	height: auto;
}

 /*custom style for select2 for new dashboard*/
.select2-container--default .select2-selection--single {
	border: 1px solid #ced4da !important;
	height: 36px !important;
	/* line-height: 36px; */
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 5px!important;
}


.status.activated {
	color: #66BB6A;
}
.status.activated::before {
	background-color: #66BB6A;
}

.status.deactivated {
	color: #9FAAB7;
}

.status.deactivated:before{
	color: #9FAAB7;
}

.status.verification-pending {
	color: #FFB300;
}
.status.verification-pending::before {
	color: #FFB300;
}

.status.verified {
	color: #007BFF;
}

.status.verified::before{
	color: #007BFF;
}

.pagination-td ul{
	flex: 1;
	justify-content: center;
}
.profile-upload{
	position: relative;
	width: 130px;
	height: 130px;
	margin:auto;
	overflow: hidden;
}

.profile-upload img{
	width: 100%;
	height: 100%;
}


.profile-upload input{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	opacity: 0;
	width: 130px;
	height: 130px;
}

.profile-upload span{
	position: absolute;
	left: 50%;
	bottom:0%;
	transform: translate(-50%,20%);
	display: inline-block;
	padding: 8px 12px;
	font-weight: bold;
	color: #fff;
	width: 100%;
	opacity: 0;
}

.profile-upload:hover span{
	transform: translate(-50%,0%);
	opacity: 1;
	background:rgba(0,0,0,0.7);
	transition: 0.5s;
}

/* old css project admin */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');

body, html {
	font-family: 'Fira Sans', sans-serif;
}

body {
	font-size: .88rem;
	color: #223741;
}
.form-control {
	padding: .5rem 1rem;
	font-size: .88rem;
}
.required {
	display: inline;
	color: #EF5350;
}

strong {
	font-weight: bold;
}

.container {
	max-width: 100%;
}

@media (min-width: 1200px) {
	.container {
		max-width: 100%;
	}
}

.container-full {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container-full .row, .container-full div[class^="col-"] {
	margin: 0;
	padding: 0;
}

div, input, select, .text-muted {
	font-weight: 300;
}
.text-muted {
	color: #9FAAB7 !important;
}

label {
	display: block;
	width: 100%;
}

.dim {
	opacity: 0.7;
}

.bold {
	font-weight: 500;
}

small {
	font-weight: 300;
}

small.tiny {
	font-size: 0.7rem;
}

label.small {
	font-weight: 400 !important;
	padding-top: 3px;
}

.form-check {
	padding-left: 26px;
}
.form-check input {
	display: none;
}
.form-check label > div i {
	font-size: 16px;
	line-height: 1;
	opacity: 0;
}
.form-check label div {
	position: absolute;
	top: 50%;
	left: 0;
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	text-align: center;
	transform: translateY(-50%);
}
.form-check input:checked+label div i {
	opacity: 1;
	color: #007BFF;
}
.form-check input:checked+label div {
	border: 1px solid #007BFF;
}

/* Progress */
.progress-wrap {
	position: relative;
}
.progress-wrap.dropdown-toggle::after {
	display: none;
}
.progress {
	background: #EFF2F7;
	position: relative;
	display: flex;
	height: 16px;
	width: 100%;
	min-width: 120px;
	border-radius: 100px;
	overflow: hidden;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}
.progress-details-card .progress {
	cursor: default;
}
.emi-terms .progress {
	max-width: 80px;
	min-width: auto
}
.progress span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}
.progress-blue {
	background-color: #03A9F4;
}
.progress-primary {
	background-color: #007BFF;
}
.progress-green {
	background-color: #66BB6A;
}
.progress-orange {
	background-color: #FF8C63;
}
.progress-purple {
	background-color: #C979DB;
}
.progress-yellow {
	background-color: #FFB300;
}
.progress-red {
	background-color: #EF5350;
}
.progress-grey {
	background-color: #C0CCDA;
}
.progress-wrap .dropdown-menu {
	min-width: 300px;
	font-size: 0.88rem;
}
.progress-wrap .dropdown-item .progress {
	min-width: auto;
}
.progress-wrap .dropdown-menu[x-placement^="top-start"] {
	margin: 0 0 10px 0;
}
.progress-wrap .dropdown-menu[x-placement^="top-start"]::before,
.progress-wrap .dropdown-menu[x-placement^="top-start"]::after {
	position: absolute;
	bottom: -20px;
	top: auto;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
}

.progress-wrap .dropdown-menu[x-placement^="top-start"]::before {
	bottom: -21px;
	top: auto;
	border-bottom-color: transparent;
	border-top-color: #C0CCDA;
}


label {
	display: block;
}
label span {
	display: block;
	margin-bottom: 6px;
}

.btn {
	border-radius: 3px;
}

.btn-outline-primary, .btn-outline-secondary {
	background-color: #FFF;
}

.close {
	transform: scale(1.4);
	position: relative;
	margin: -25px;
}

.table-wrapper {
	width: 100%;
}
.table-dashboard {
	overflow: hidden;
}

.user-thumbnail {
	background: #007BFF;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	width: 40px;
	min-width: 40px;
	height: 40px;
	vertical-align: middle;
}

span.user-thumbnail {
	line-height: 40px;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

table.table {
	min-width: 960px;
}

table.table-stats td {
	padding-left: 0;
	padding-right: 0;
}

table.table-stats h5 {
	margin: 0;
	padding-left: 12px;
}

table.table-stats tr td:nth-child(odd) {
	text-align: right;
}

table.table-stats tr:first-child td {
	border-top: none;
	padding-top: 0;
}
table.table-stats tr:last-child td {
	padding-bottom: 0;
}

.table thead th {
	border-top: 0;
	font-size: 13px;
	font-weight: normal;
	color: #9FAAB7;
}
.table th, .table td {
	vertical-align: middle;
	padding: 1rem .75rem;
}

.dropdown-menu {
	border: 1px solid #C0CCDA;
	margin-top: 10px;
	border-radius: 2px;
	/* padding: 16px 0; */
	font-size: 0.88rem;
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
}
.dropdown-menu::before,
.dropdown-menu::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.dropdown-menu::before {
	top: -21px;
	border-bottom-color: #C0CCDA;
}
.dropdown-menu.dropdown-menu-right::before,
.dropdown-menu.dropdown-menu-right::after {
	left: auto;
	right: 20px;
	display: none;
}


@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 791px) {
}




/* Header */
header {
	background-color: #FFF;
	min-height: 80px;
}
.navbar-brand img {
	min-height: 40px;
}
header .form-group {
	margin-bottom: 0;
}

/* Notification */
.header-notification .navbar-nav-link,
.header-user .navbar-nav-link {
	position: relative;
	color: #9FAAB7;
	font-size: 24px;
	display: block;
}

.header-notification .navbar-nav-link:after,
.header-user .navbar-nav-link::after {
	display: none;
}

.header-notification .navbar-nav-link span {
	position: absolute;
	top: 2px;
	right: -5px;
	height: 12px;
	width: 12px;
	color: #ffffff;
	font-size: 14px;
	background-color: #EF5350;
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: block;
	text-align: center;
	text-indent: -99999px;
}
.header-notification .dropdown-menu {
	min-width: 320px;
	left: auto;
	right: -20px;
	font-size: 14px;
}
.header-notification .dropdown-menu::before,
.header-notification .dropdown-menu::after {
	right: 15px;
	left: auto;
}
.header-notification .notification-wrap {
	overflow: hidden scroll;
	max-height: 220px;
}
.header-notification .dropdown-item {
	white-space: normal;
}
.header-notification .dropdown-item small {
	position: absolute;
	top: 0;
	right: 0;
}

/* Header Search */
.navbar-nav .header-search-bar {
	position: relative;
}
.navbar-nav .header-search-bar {
	width: 400px;
}
.navbar-nav .header-search-bar button {
	position: absolute;
	right: 0;
	top: 50%;
	padding: 0 16px;
	height: 100%;
	font-size: 24px;
	color: #9FAAB7;
	transform: translateY(-50%);
}
@media (max-width:768px) {
	.navbar-nav .header-search-bar {
		width: 250px;
	}
}

/* Header User */
.navbar-nav .header-user a {
	color: #5E656D;
	text-decoration: none;
}
.navbar-nav .header-user a:hover {
	color: #223741;
}
.navbar-nav .header-user i {
	font-size: 20px;
}
.navbar-nav .nav-item .avatar {
	width: 36px;
	height: 36px;
}
.navbar-nav .header-user .dropdown-menu {
	right: 0;
	left: auto;
	min-width: 200px;
}
.navbar-nav .header-user .dropdown-menu::before,
.navbar-nav .header-user .dropdown-menu::after {
	left: auto;
	right: 20px;
}


/* Sidebar */
@media (min-width: 1200px) {
	.bd-sidebar {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
}

/* Login */
.box-wrap {
	max-width: 400px;
	padding: 50px;
	margin: 2rem auto 0;
	box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Verify Mobile Number */
.verify-mobile-number .form-control {
	background-color: #F0F2F5;
	min-height: 48px;
	text-align: center;
	border: 1px solid #C0CCDA;
}



/* Status */
.status {
	position: relative;
}
.status::before {
	content: '';
	display: inline-block;
	border-radius: 100%;
	margin-right: 10px;
	width: 8px;
	height: 8px;
	background-color: #9FAAB7;
}
.status.active {
	color: #66BB6A;
}
.status.active::before {
	background-color: #66BB6A;
}
.status.deactive {
	color: #9FAAB7;
}
.status.deactive::before {
	background-color: #9FAAB7;
}
.status.pending {
	color: #FFB300;
}
.status.pending::before {
	background-color: #FFB300;
}
.status.error {
	color: #EF5350;
}
.status.error::before {
	background-color: #EF5350;
}
.status.new {
	color: #007BFF;
}
.status.new::before {
	background-color: #007BFF;
}

.status.funding {
	color: #007BFF;
}
.status.funding::before {
	background-color: #007BFF;
}

.status.installed {
	color: #fbe30d;
}
.status.installed::before {
	background-color: #fbe30d;
}



/* Nav Link */
.nav-link {
	display: flex;
	align-items: center;
	color: #223741;
}
.nav-link.active,
.nav-link:hover,
.nav-link.active i,
.nav-link:hover i {
	color: #007BFF;
}
.nav-item {
	margin-bottom: 1rem;
}
.nav-item:last-child {
	margin-bottom: 0;
}

.nav-link i {
	margin: 0 10px 0 0;
	color: #9FAAB7;
	font-size: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

/* Action */
.action .resend-email a,
.action .edit a {
	display: block;
	padding: 0 16px;
	color: #9FAAB7;
}
.action .resend-email a:hover,
.action .edit a:hover {
	color: #007BFF;
}
.action i {
	font-size: 24px;
	line-height: 1;
}

/* Switch */
.checkbox-container {
	position: relative;
	padding: 0 0 0 16px;
}
.checkbox-container input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}
.checkbox-container label {
	background-color: #C0CCDA;
	border: 1px solid #fff;
	border-radius: 20px;
	margin: 0;
	display: block;
	position: relative;
	transition: all 0.3s ease-out;
	width: 40px;
	height: 24px;
	z-index: 2;
	cursor: pointer;
}
.checkbox-container .active-circle, .checkbox-container input:checked + label {
	background-color: #007BFF;
}
.checkbox-container input:disabled label,
.checkbox-container input:disabled + label {
	background-color: #EFF2F7;
	cursor: not-allowed;
}
.checkbox-container label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	transform: translateX(0);
	transition: transform 0.25s ease;
	width: 18px;
	height: 18px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	z-index: 3;
}
.checkbox-container input:checked + label::after {
	transform: translateX(calc(100% - 2px));
}


/* Project Vitals */
.additional-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
	color: #9FAAB7;
}
.additional-info > div {
	margin-right: 1.5rem;
	line-height: 1;
}
.additional-info > div:last-child {
	margin-right: 0;
}
.additional-info i {
	font-size: 1rem;
	width: 16px;
	height: 16px;
	line-height: 1;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}
.additional-info .credit-score {
	font-weight: bold;
}
.additional-info .credit-score img {
	position: relative;
	bottom: 3px;
	width: 24px;
	margin-right: 10px;
}


/* Filter Bar */
.filter-bar {
	background: #EFF2F7;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 10px 0;
	width: 100%;
	z-index: 999;
}
.filter-bar .form-group:last-child {
	margin-bottom: 0;
}
.filter-bar .btn-filter {
	background-color: #fff;
	border: 1px solid #C0CCDA;
	height: 38px;
	font-size: 14px;
	color: #223741;
}
.filter-bar button.btn i {
	font-size: 20px;
	line-height: 1;
}
.filter-bar .filter-search {
	position: relative;
}
.filter-bar .filter-search button {
	background: transparent;
	position: absolute;
	top: 50%;
	right: 16px;
	border: 0;
	padding: 0;
	height: auto;
	transform: translateY(-50%);
}
.filter-bar .filter-search button i {
	font-size: 24px;
	line-height: 1;
	color: #9FAAB7;
}

/* Filter Dropdown */
.filter-dropdown {
	background: #fff;
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	padding: 16px;
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	z-index: 999;
}
.filter-dropdown::before,
.filter-dropdown::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 50px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.filter-dropdown::before {
	top: -21px;
	border-bottom-color: #C0CCDA;
}
.filter-dropdown .row {
	min-width: 700px;
}
.filter-dropdown .form-check input {
	display: none;
}
@media (max-width: 768px) {
	.filter-bar .btn-filter {
		display: block;
		width: 100%;
	}
	.filter-bar .filter-dropdown {
		position: relative;
		top: 10px;
	}
	.filter-dropdown .row {
		width: auto;
		min-width: auto;
	}
}

/* Credit Score */
.credit-score i {
	margin-left: 3px;
	font-size: 18px;
	color: #FFAE4B;
}
.credit-score span {
	font-size: 13px;
	color: #9FAAB7;
	margin-bottom: 0;
}
.credit-score .text-muted {
	color: #C0CCDA !important;
}

/* Info Cards */
.info-card {
	border: 1px solid #C0CCDA;
	border-bottom: 2px solid transparent;
	padding: 16px 24px;
}
.info-card .description {
	color: #9FAAB7;
}
.info-card i {
	font-size: 32px;
}
.info-card img {
	height: auto;
}
.card-green {
	color: #66BB6A;
	border-bottom-color: #66BB6A;
}
.card-orange {
	color: #FF8C63;
	border-bottom-color: #FF8C63;
}
.card-blue {
	color: #007BFF;
	border-bottom-color: #007BFF;
}
.card-light-blue {
	color: #03A9F4;
	border-bottom-color: #03A9F4;
}
.card-dark {
	color: #223741;
	border-bottom-color: #223741;
}
.card-grey {
	color: #223741;
	border-bottom-color: #C0CCDA;
}

/* Chart */


/* User Details */
.user-details {
	background: rgba(238, 241, 246, 0.2);
	position: relative;
	margin-bottom: 16px;
	border: 1px solid rgba(192, 204, 218, 0.3);
	border-radius: 2px;
	padding: 16px 0;
}
.user-details .clear {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5rem;
	color: #9FAAB7;
}
.user-details .clear:hover {
	color: #EF5350;
}
.user-details .user-info {
	margin-bottom: 16px;
	border-bottom: 1px solid #EFF2F7;
	padding: 0 16px 16px;
}
.user-details .user-info:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.user-details .user-info span {
	display: block;
	margin-bottom: 5px;
	color: #9FAAB7;
}

/* Edit Partners */
.partner-details-card {
	border: 1px solid #C0CCDA;
	border-radius: 2px;
	padding: 30px 0;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)
}
.partner-details-card .partner-info {
	padding: 0 30px 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #EFF2F7;
}
.partner-details-card .partner-info:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.partner-details-card .partner-info span {
	display: block;
	color: #9FAAB7;
}
.thumb-upload-wrapper .browse{
	background-color: #EFF2F7;
	position: relative;
	overflow: hidden;
	width: 96px;
	height: 96px;
	border: 1px dashed #C0CCDA;
	border-radius: 50%;
	cursor: pointer;
}
.thumb-upload-wrapper .browse .edit {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 4px 0;
	color: #fff;
	text-align: center;
}
.thumb-upload-wrapper input {
	display: none;
}
.thumb-upload-wrapper .browse > i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	line-height: 1;
	color: #9FAAB7;
	transform: translate(-50%, -50%);
}

/* Auto Search */
.auto-search-group {
	position: relative;
}
#autoSearchField:focus + .dropdown-menu {
	display: block;
	width: 100%;
}
.auto-search-group .auto-search-wrap {
	max-height: 300px;
	overflow: hidden scroll;
}
.auto-search-group .user-thumbnail {
	width: 36px;
	height: 36px;
	min-width: 36px;
	line-height: 36px;
}
.auto-search-group .user-id,
.auto-search-group .user-location {
	margin-right: 16px;
	color: #5E656D;
}
.auto-search-result .user-details .user-meta strong,
.auto-search-result .user-details .user-meta i {
	color: #9FAAB7;
	margin-right: 5px;
}

/* Project Document Files */
.document-card {
	border: 1px solid #C0CCDA;
	padding: 16px 24px;
	cursor: pointer;
}
.document-card i {
	font-size: 24px;
	line-height: 1;
	color: #EF5350;
}
.document-card .document-title {
	font-size: 1rem;
}
.document-card .description {
	color: #9FAAB7;
}
.document-card.upload-document {
	border-style: dashed;
}
.document-card.upload-document i {
	color: #9FAAB7;
}



/* File Upload */
.upload-wrapper {
	border: 1px dashed #C0CCDA;
	border-radius: 3px;
	padding: 30px;
}
.upload-wrapper input {
	display: none;
}
.upload-wrapper i {
	font-size: 60px;
	line-height: 1;
	color: #C0CCDA;
}

.document-wrapper ul {
	list-style: none;
	margin: 0;
	border: 1px solid #EFF2F7;
	padding: 0;
}
.document-wrapper ul li {
	position: relative;
	border-bottom: 1px solid #EFF2F7;
	padding: 16px 40px 16px 16px;
}
.document-wrapper ul li:last-child {
	border-bottom: 0;
}
.document-wrapper ul li .delete {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 1.5rem;
	line-height: 1;
	color: #9FAAB7;
}
.document-wrapper ul li .delete:hover {
	color: #EF5350;
}
.document-wrapper .success-icon {
	font-size: 50px;
	line-height: 1;
	color: #66BB6A;
}
.document-wrapper .file-description strong {
	font-size: 1rem;
}

/* Make Investment Collapsible Tab */
.make-investment-tab .card-body {
	background-color: #EFF2F7;
	position: relative;
	border: 0;
}
.make-investment-tab .card-body::before {
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #EFF2F7;
	height: 16px;
	width: 16px;
}
.make-investment-tab .card-body .nav {
	border-bottom: 1px solid #C0CCDA;
}
.make-investment-tab .card-body .nav .nav-item {
	position: relative;
	margin-bottom: 0;
}
.make-investment-tab .card-body .nav .nav-item .nav-link {
	position: relative;
}
.make-investment-tab .card-body .nav .nav-item .nav-link.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #007BFF;
}

/* User Thumbnail */
.information .user-thumbnail,
.information .user-thumbnail img {
	width: 100%;
	height: auto;
}

/* Sticky Nav */
#nav-sticky {
	background: #fff;
	z-index: 999;
}
#nav-sticky.is_stuck {
	border-bottom: 1px solid #C0CCDA;
	box-shadow: 0 2px 35px -20px rgba(0,0,0,0.4);
}
.scroll-spy {
	position: relative;
	/* overflow-y: scroll; */
}

/* Project Status */
.project-status {
	padding: 4px 15px;
	border: 1px solid #C0CCDA;
	border-radius: 2em;
}
.project-status.dropdown-toggle::after {
	display: none;
}
.project-status i {
	font-size: 20px;
	color: #9FAAB7;
}
.project-status + .dropdown-menu {
	width: 100%;
}

/* Information Section */
#information i {
	font-size: 20px;
}

/* Document Checklist */
.document-checklist .checklist-item-info .checked-circle {
	width: 30px;
	height: 30px;
	border: 1px solid #C0CCDA;
	border-radius: 50%;
	text-align: center;
}
.document-checklist .checklist-item-info.checked .checked-circle {
	background: #66BB6A;
	border-color: #66BB6A;
}
.document-checklist .checklist-item-info i {
	display: none;
	font-size: 24px;
	line-height: 30px;
}
.document-checklist .checklist-item-info.checked i {
	display: block;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}
.document-checklist .checklist-item-info p {
	margin-bottom: 0;
}
.document-checklist .checklist-item-info.checked p {
	text-decoration: line-through;
	color: #9FAAB7;
}

/* Comments */
.comment-box {
	position: relative;
}
.comment-box .reply {
	position: absolute;
	top: 0;
	right: 0;
	color: #9FAAB7;
}
.comment-box .reply i {
	font-size: 20px;
}
.comment-list .children {
	margin-left: 40px;
}
.comment-list .children .comment-box {
	padding-left: 24px;
	border-left: 3px solid #EFF2F7;
}