<template>
  <canvas :id="id" :class="className" ref="canvas"> Doughnut Chart </canvas>
</template>

<script>
export default {
  mounted() {
    new Chart(this.$refs.canvas, {
      type: 'doughnut',
      data: {
        datasets: [
          {
            data: Object.values(this.data),
            backgroundColor: ['#E0822E', '#599AB1', '#484747'],
          },
        ],
        labels: Object.keys(this.data),
      },
      options: {
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => {
              var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] || '';         
              var labelLabel = data.labels[tooltipItem.index]                        
              if(label !== '') {
                if(this.labelFormatter) {
                  label = this.labelFormatter(label)
                }
              }
              return ` ${labelLabel} : ${label}`;
            }
          }
        },
        legend: {
          position: 'right',
          onClick: null,
        },
      },
    });
  },
  props: {
    data: Object,
    className: String,
    id: String,
    labelFormatter: Function
  },
};
</script>
