<template>
    <div>
        <gmap-map :center="center" :zoom="zoom" style="width:100%; height:800px;" @zoom_changed = closeInformationWindow()>
            <gmap-cluster :clickable="true" @click="showClusterInfo">
                <gmap-marker v-for="(item, key) in this.districtCoordinates" :key="key" :title="item.name" :position="getPosition(item)" :clickable="true" @click="toggleInfo(item, key)" />
                <gmap-info-window :options="infoOptions" :position="infoPosition" :opened="infoOpened" @closeclick="infoOpened=false">
                    <div v-html="infoContent"></div>
                </gmap-info-window>
            </gmap-cluster>
        </gmap-map>
    </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data() {
    return {
      center: {lat: 27.6874, lng: 83.4323},//Can change center as needed
      zoom: 7,
      currentPlace: null,
      infoPosition: null,
      infoContent: null,
      infoOpened: false,
      infoCurrentKey: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      districtCoordinates:[],
    }
  },

  created(){
    this.fetchMapData();
  },

  methods: {
    getPosition: function(marker) {
      return {
        lat: parseFloat(marker.latitude),
        lng: parseFloat(marker.longitude)
      }
    },
    toggleInfo: function(marker, key) {
      this.infoPosition = this.getPosition(marker);
      this.infoContent = "Number of projects : "+ 1 + ", <br> Estimated solar pv size : "+ 1 +'KW'+ ", <br> Districts : " + marker.name ;//marker.name;
      this.toggleInfoForKey(key)
    },
    toggleInfoForKey: function(key) {
      if (this.infoCurrentKey === key) {
        this.infoOpened = !this.infoOpened;
      } else {
        this.infoOpened = true;
        this.infoCurrentKey = key;
      }
    },
      showClusterInfo: function(cluster) {
      this.infoPosition = cluster.getCenter()
      const markers = cluster.getMarkers()
      const noOfProjects = markers.length
      const locations = markers.map(marker => marker.getTitle())
      const unique_locations = [...new Set(locations)];
      this.infoContent =  "Number of projects : "+ noOfProjects+ "<br> Estimated solar pv size : "+noOfProjects +'KW'+ "<br> Districts : " + unique_locations ;
      const key = cluster.center_.lat()
      this.toggleInfoForKey(key)
    },
    closeInformationWindow(){
      this.infoOpened = false;
    },
    fetchMapData() {
      axios.get('/fetch-location').then(res => {
        this.districtCoordinates= res.data;
      })
    }
  }
};
</script>
