<template>
    <div class="text-center">
        <div class="profile-upload rounded-circle">
            <img :src="image" class="avatar" alt="offgridbazaar user">
            <span>Upload</span>
            <input type="file" v-on:change="onImageChange" class="rounded-circle" accept="image/*">
        </div>
        <div v-if = profile_image>
            <button title="Remove profile picture" @click="removePhoto"  type= "button" class="btn btn-link btn-sm text-danger" style="color:#ecaaaa;font-size: 12px;text-decoration: none;">Remove picture</button>
        </div>
    </div>


</template>


<script>
    export default {
        data() {
            return {
                user: user,
                image: '',
                profile_image:true

            };
        },

        mounted() {
            this.image = this.user.profile_image ? '/storage/upload/' + this.user.profile_image : '/img/farmer_default.png'
            this.profile_image = this.user.profile_image ? true:false;
        },

        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                if (!(/\.(jpeg|jpg|jpeg|tiff|png)$/i).test(files[0].name)) {
                    alert("Please,check the file extension.");
                    return;
                }
                this.image = files[0].name;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
                this.uploadImage(file);
            },
            uploadImage(file) {
                let formData = new FormData();
                formData.append('file', file);
                axios.post("/profile/image",
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {
                    if (response.data.message) {
                        if (response.data.profile_image) {
                            this.image = '/storage/upload/' + response.data.profile_image;
                            this.profile_image = true;
                        }
                    }
                });
            },

            removePhoto(){
                axios.post('/profile/image/delete')
                    .then(response => {
                        this.image = '/img/farmer_default.png'
                        this.profile_image = false
                    });
            },
        }
    }
</script>

