<template>
  <div class="loading">
    <div class="lds-dual-ring"></div>
  </div>
</template>

<style>
.loading{
  width:100%;
  text-align:center;
  height:20vh;
  padding-top:10vh;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top:-32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #599ab1 transparent #599ab1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
