<template>
  <li class="nav-item">
    <a href="/investment/checkout" class="btn btn-outline-primary">
      <i class="icon ion-md-add-circle"></i> My List <span class="badge badge-warning">{{projectCount}}</span>
    </a>
  </li>
</template>

<script type="text/javascript">
export default {
  data() {
    return {
      store: window.store
    }
  },
  computed: {
    projectCount: function(){ return this.store.numberOfSelectedProjects }
  }
}
</script>
